<!DOCTYPE html>
<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin-default}">
<head>
    <style>
        .center-text {
            text-align: center;
        }

        .search-container {
            display: flex;
            justify-content: end;
            margin-bottom: 1rem;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.btn-edit').click(function () {
                const bookId = $(this).data('book-id');

                window.location.href = '/admin/books/update/' + bookId;
            });
        });
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const addButton = document.getElementById('addBookButton');

            addButton.addEventListener('click', function () {
                window.location.href = '/admin/books/register';
            });
        });
    </script>


    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const addButton = document.getElementById('addBookButton');

            addButton.addEventListener('click', function () {
                window.location.href = '/admin/books/register';
            });
        });
    </script>
    <script>
        $(document).ready(function () {

            $('.btn-edit-thumbnail').click(function () {
                const bookId = $(this).data('book-id');
                const thumbnailUrl = $(this).data('thumbnail-url');
                $('#thumbnailBookId').val(bookId);
                $('#currentThumbnail').attr('src', thumbnailUrl);
                $('#editThumbnailModal').modal('show');
            });

            $('#thumbnailInput').change(function () {
                if (this.files && this.files[0]) {
                    const reader = new FileReader();
                    reader.onload = function (e) {
                        $('#newThumbnailPreview').attr('src', e.target.result).show();
                    };
                    reader.readAsDataURL(this.files[0]);
                }
            });

        });

        document.addEventListener('DOMContentLoaded', function () {
            document.getElementById('thumbnailForm').addEventListener('submit', function (event) {
                event.preventDefault();

                const bookId = document.getElementById('thumbnailBookId').value;
                if (!bookId) {
                    console.error('Book ID is missing');
                    return;
                }

                const formData = new FormData(this);
                if (!formData.get('thumbnail')) {
                    console.error('No file selected');
                    return;
                }

                fetch('/admin/books/thumbnail/' + bookId, {
                    method: 'PUT',
                    body: formData
                })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Network response was not ok ' + response.statusText);
                        }
                        return response.json();
                    })
                    .then(data => {
                        window.location.href = data.redirectUrl;
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });
            });
        });


    </script>

</head>
<body>
<div layout:fragment="admin-content" id="layoutSidenav_content">
    <div class="container-fluid px-4">

        <h1 class="mt-4">책 조회 - 관리자 페이지</h1>
        <div class="search-container">
            <label for="searchInput" class="visually-hidden">책 제목 검색</label>
            <input type="text" class="form-control" id="searchInput" placeholder="책 제목을 입력해주세요..."
                   style="width: auto; display: inline-block;">
            <button class="btn btn-primary ms-2" id="searchButton">검색</button>
        </div>
        <div class="table-responsive">
            <table class="table center-text">
                <thead>
                <tr>
                    <th>표지</th>
                    <th>제목</th>
                    <th>출판일</th>
                    <th>재고</th>
                    <th>상태</th>
                    <th>수정</th>
                    <th>표지 수정</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="book : ${bookList}">
                    <td><img th:src="${book.thumbnail}" alt="썸네일" style="width: 60px; height: auto;"></td>
                    <td th:text="${book.bookTitle}"></td>
                    <td th:text="${book.bookPublicationDate}"></td>
                    <td th:text="${book.bookStock}"></td>
                    <td th:text="${book.bookState}"></td>
                    <td>
                        <button class="btn btn-secondary btn-edit" th:data-book-id="${book.bookId}">수정</button>
                    </td>
                    <td>
                        <button class="btn btn-info btn-edit-thumbnail" th:data-book-id="${book.bookId}"
                                th:data-thumbnail-url="${book.thumbnail}">표지 수정
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <!-- 페이지네이션 -->
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                <li th:class="${isPrevious} ? 'page-item' : 'page-item disabled'">
                    <a class="page-link" th:href="@{/admin/books(page=${currentPage} - 1)}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li th:class="'page-item' + (${pageNum - 1} == ${currentPage} ? ' active' : '')" th:each="pageNum : ${#numbers.sequence(1, totalPages)}">
                    <a class="page-link" th:href="@{/admin/books(page=${pageNum - 1})}" th:text="${pageNum}"></a>
                </li>
                <li th:class="${isNext} ? 'page-item' : 'page-item disabled'">
                    <a class="page-link" th:href="@{/admin/books(page=${currentPage} + 1)}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>



        <!-- Edit Thumbnail Modal -->
        <div class="modal fade" id="editThumbnailModal" tabindex="-1" aria-labelledby="editThumbnailModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editThumbnailModalLabel">Edit Book Thumbnail</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <!-- Section to display the current thumbnail -->
                            <div class="current-thumbnail-container">
                                <h6>Current Thumbnail</h6>
                                <img id="currentThumbnail" src="" alt="Current Thumbnail"
                                     style="width: 100%; height: auto; margin-bottom: 1rem;">
                            </div>
                            <form id="thumbnailForm" enctype="multipart/form-data">
                                <!-- Display the book's ID -->
                                <input type="hidden" id="thumbnailBookId" name="bookId">
                                <div class="form-group">
                                    <label for="thumbnailInput">Upload New Thumbnail</label>
                                    <input type="file" class="form-control-file" id="thumbnailInput" name="thumbnail">
                                    <img id="newThumbnailPreview" src="" alt="New Thumbnail Preview"
                                         style="width: 100%; height: auto; margin-top: 1rem; display: none;">
                                </div>
                            </form>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" form="thumbnailForm" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="btn btn-success" id="addBookButton">새 책 추가</button>

    </div>
</div>
</body>
</html>
