<!DOCTYPE html>
<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin-default}">
<head>
    <link
            rel="stylesheet"
            href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css"
    />
    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>

    <style>
        div:has(> #book-form) {
            padding: 60px;
        }

        #book-form {
            width: 60%;
            min-width: 500px;


            .form-group {
                margin-bottom: 2rem;
            }

            .form-group label {
                font-weight: bold;
            }

            .form-control,
            .form-control:focus {
                border-color: #007bff;
                box-shadow: none;
            }

            .form-control::placeholder {
                color: #6c757d;
            }

            & textarea.form-control {
                resize: vertical;
            }

            .thumbnail-preview-box {
                width: 200px;
                height: 200px;
                border: 1px dashed #ccc;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 10px;
            }

            .thumbnail-preview-box img {
                max-width: 100%;
                max-height: 100%;
                display: none;
            }

            .row {
                justify-content: space-between;
                margin: 0 auto;

                .col {
                    flex-basis: initial;
                    flex-grow: initial;
                    width: 32%;
                    padding: 0;
                }
            }
        }
    </style>
</head>

<body>
<div layout:fragment="admin-content" id="layoutSidenav_content">

    <p th:value="storedBook.bookId"></p>

    <div class="w-full p-all-60">
        <form id="book-form">
            <input type="hidden" id="bookId" th:value="${storedBook.bookId}" />
            <div style="margin-top: 20px; font-size: 20px; font-weight: bold;">
                <div id="editingBookTitle" th:text="|'${storedBook.bookTitle}' 수정 페이지|"></div>
                <img th:if="${storedBook.thumbnail}" th:src="@{${storedBook.thumbnail}}" alt="Thumbnail"
                     style="max-width: 200px; height: auto;"/>
            </div>
            <div class="form-group">
                <label for="bookIsbn">ISBN:</label>
                <input type="text" class="form-control" id="bookIsbn" th:value="${storedBook.bookIsbn}" maxlength="17"
                       placeholder="ISBN을 입력해주세요..." required/>
            </div>
            <div class="form-group">
                <label for="bookTitle">제목:</label>
                <input type="text" class="form-control" id="bookTitle" th:value="${storedBook.bookTitle}"
                       maxlength="100" placeholder="제목을 입력해주세요..." required/>
            </div>

            <div class="row form-group">
                <div class="col">
                    <div class="form-group">
                        <label for="category1">카테고리 (1단계)</label>
                        <select class="form-control" id="category1"></select>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="category2">카테고리 (2단계)</label>
                        <select class="form-control" id="category2"></select>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="category3">카테고리 (3단계)</label>
                        <select class="form-control" id="category3"></select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="authorSearch">작가 검색:</label>
                <input
                        type="text"
                        class="form-control"
                        id="authorSearch"
                        placeholder="작가를 검색하세요..."
                />
            </div>

            <div class="form-group">
                <label for="authorList">작가:</label>
                <div id="authorList"></div>
            </div>

            <div class="form-group">
                <label for="selectedAuthors">선택된 작가:</label>
                <div id="selectedAuthors"></div>
            </div>

            <div class="form-group">
                <label for="bookPublisher">출판사:</label>
                <input type="text" class="form-control" id="bookPublisher" th:value="${storedBook.bookPublisher}"
                       placeholder="출판사를 입력해주세요..."/>
            </div>

            <div class="form-group">
                <label for="tagList">태그 목록:</label>
                <div id="tagList"></div>
            </div>

            <div class="form-group">
                <label for="selectedTags">선택된 태그:</label>
                <div id="selectedTags"></div>
            </div>
            <div class="form-group">
                <label for="bookPublicationDate">출판일:</label>
                <input type="date" class="form-control" id="bookPublicationDate"
                       th:value="${storedBook.bookPublicationDate}"/>
            </div>
            <div class="form-group">
                <label for="bookDescriptionEditor">책 설명:</label>
                <div id="bookDescriptionEditor"></div>
            </div>

            <div class="form-group">
                <label for="bookIndex">책 목차:</label>
                <textarea class="form-control" id="bookIndex" rows="5" placeholder="책 목차를 입력해주세요..." th:text="${storedBook.bookIndex}"></textarea>
            </div>
            <div class="form-group">
                <label for="bookPackaging">포장 여부:</label>
                <select class="form-control" id="bookPackaging">
                    <option value="true" th:selected="${storedBook.bookPackaging == true}">예</option>
                    <option value="false" th:selected="${storedBook.bookPackaging == false}">아니오</option>
                </select>
            </div>

            <div class="form-group">
                <label for="bookState">책 상태:</label>
                <select class="form-control" id="bookState">
                    <option value="ON_SALE" th:selected="${storedBook.bookState == 'ON_SALE'}">판매중</option>
                    <option value="SOLD_OUT" th:selected="${storedBook.bookState == 'SOLD_OUT'}">품절</option>
                    <option value="DELETED" th:selected="${storedBook.bookState == 'DELETED'}">삭제됨</option>
                    <option value="SALE_END" th:selected="${storedBook.bookState == 'SALE_END'}">판매 종료</option>
                </select>
            </div>

            <!-- 재고 입력 필드 -->
            <div class="form-group">
                <label for="bookStock">재고:</label>
                <input type="number" class="form-control" id="bookStock" th:value="${storedBook.bookStock}" min="0"
                       placeholder="재고를 입력해주세요..." required/>
            </div>

            <!-- 정가 입력 필드 -->
            <div class="form-group">
                <label for="bookRegularPrice">정가:</label>
                <input type="number" class="form-control" id="bookRegularPrice"
                       th:value="${storedBook.bookRegularPrice}" min="0" step="100"
                       placeholder="정가를 입력해주세요..." required/>
            </div>

            <!-- 할인율 입력 필드 -->
            <div class="form-group">
                <label for="bookDiscountRate">할인율:</label>
                <input type="number" class="form-control" id="bookDiscountRate"
                       th:value="${storedBook.bookDiscountRate}" min="0" max="100"
                       placeholder="할인율을 입력해주세요..." required/>
            </div>
            <button type="submit" class="btn-submit">수정하기</button>
        </form>
    </div>

    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
    <script th:inline="javascript">
        var initialDescription = /*[[${storedBook.bookDescription}]]*/ '기본 설명';

        const descriptionEditor = new toastui.Editor({
            el: document.querySelector("#bookDescriptionEditor"),
            height: "300px",
            initialEditType: "wysiwyg",
            initialValue: initialDescription,
            hooks: {
                addImageBlobHook: function (blob, callback) {
                    const formData = new FormData();
                    formData.append("image", blob);

                    fetch("/admin/books/upload/description", {
                        method: "POST",
                        body: formData,
                    })
                        .then((response) => response.json())
                        .then((data) => {
                            callback(data.imageUrl, "image description");
                        })
                        .catch((error) => {
                            console.error("Error:", error);
                        });

                    return false;
                },
            },
        });


        // Form Submit
        document
            .getElementById("book-form")
            .addEventListener("submit", function (e) {
                e.preventDefault();
                const editorContent = descriptionEditor.getHTML();
                var bookId = document.getElementById('bookId').value;


                const requestDto = {};

// JSON 데이터를 객체에 직접 할당
                requestDto.bookIsbn = document.getElementById('bookIsbn').value;
                requestDto.bookTitle = document.getElementById('bookTitle').value;
                requestDto.bookDescription = descriptionEditor.getHTML();
                requestDto.bookPublisher = document.getElementById('bookPublisher').value;
                requestDto.bookPublicationDate = document.getElementById('bookPublicationDate').value;
                requestDto.bookIndex = document.getElementById('bookIndex').value;
                requestDto.bookPackaging = document.getElementById('bookPackaging').value === 'true';
                requestDto.bookState = document.getElementById('bookState').value;
                requestDto.bookStock = parseInt(document.getElementById('bookStock').value);
                requestDto.bookRegularPrice = parseInt(document.getElementById('bookRegularPrice').value);
                requestDto.bookDiscountRate = parseInt(document.getElementById('bookDiscountRate').value);

                requestDto.authorIds = Object.keys(selectedAuthors);

                requestDto.categoryIds = [document.getElementById('category1').value, document.getElementById('category2').value, document.getElementById('category3').value].filter(Boolean);

                requestDto.tagIds = Object.keys(selectedTags);


                fetch("/admin/books/" + bookId, {
                    method: "PUT",
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(requestDto)
                })
                    .then(response => {
                        if (response.ok) {
                            return response.json();
                        }
                        throw new Error("Network response was not ok.");
                    })
                    .then(data => {
                        window.location.href = data.redirectUrl;
                    })
                    .catch(error => {
                        console.error("Error:", error);
                        window.location.href = '/error';
                    });
            });

    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script>
        $(document).ready(function () {
            // 최상위 카테고리 로드
            loadTopCategories("#category1");

            // 카테고리 변경 시 하위 카테고리 로드
            $("#category1").change(function () {
                loadCategories("#category2", $(this).val());
                $("#category3").empty();
            });
            $("#category2").change(function () {
                loadCategories("#category3", $(this).val());
            });
        });

        function loadTopCategories(selector) {
            fetch("/categories/topCategories")
                .then((response) => response.json())
                .then((categories) => {
                    $(selector).empty().append("<option selected>선택하세요</option>");
                    categories.forEach(function (category) {
                        $(selector).append(
                            new Option(category.categoryName, category.categoryId)
                        );
                    });
                })
                .catch((error) => {
                    console.error("Error:", error);
                });
        }

        function loadCategories(selector, parentId) {
            if (parentId) {
                fetch("/categories/" + parentId)
                    .then((response) => response.json())
                    .then((categories) => {
                        $(selector)
                            .empty()
                            .append("<option selected>선택하세요</option>");
                        categories.forEach(function (category) {
                            $(selector).append(
                                new Option(category.categoryName, category.categoryId)
                            );
                        });
                    })
                    .catch((error) => {
                        console.error("Error:", error);
                    });
            } else {
                $(selector).empty();
            }
        }

        document
            .getElementById("bookRegularPrice")
            .addEventListener("input", function (e) {
                let value = parseInt(e.target.value, 10);
                value = Math.round(value / 100) * 100;
                e.target.value = isNaN(value) ? "" : value;
            });

        function searchAuthors(name) {
            if (name.length < 1) {
                return;
            }

            fetch(`/admin/authors/authorList/search?name=${name}`)
                .then((response) => response.json())
                .then((data) => {
                    const authorListContainer = document.getElementById("authorList");
                    authorListContainer.innerHTML = "";

                    if (data.content.length === 0) {
                        authorListContainer.innerHTML = "<p>검색된 작가가 없습니다.</p>";
                    } else {
                        data.content.forEach((author) => {
                            const checkbox = document.createElement("input");
                            checkbox.type = "checkbox";
                            checkbox.id = `author_${author.authorId}`;
                            checkbox.value = author.authorId;

                            const label = document.createElement("label");
                            label.htmlFor = `author_${author.authorId}`;
                            label.appendChild(document.createTextNode(author.authorName));

                            const br = document.createElement("br");

                            authorListContainer.appendChild(checkbox);
                            authorListContainer.appendChild(label);
                            authorListContainer.appendChild(br);
                        });
                    }
                })
                .catch((error) => {
                    console.error("Error:", error);
                });
        }

        document
            .getElementById("authorSearch")
            .addEventListener("input", function () {
                const searchInput = this.value;
                searchAuthors(searchInput);
            });

        const selectedAuthors = [];

        document
            .getElementById("authorList")
            .addEventListener("change", function (event) {
                if (event.target.type === "checkbox") {
                    const authorId = event.target.value;
                    const authorName = event.target.nextSibling.textContent;

                    if (event.target.checked) {
                        if (!selectedAuthors.hasOwnProperty(authorId)) {
                            selectedAuthors[authorId] = authorName;
                            updateSelectedAuthorsDisplay();
                        } else {
                            event.target.checked = false;
                        }
                    } else {
                        if (selectedAuthors.hasOwnProperty(authorId)) {
                            delete selectedAuthors[authorId];
                            updateSelectedAuthorsDisplay();
                        }
                    }
                }
            });

        function updateSelectedAuthorsDisplay() {
            const selectedAuthorsContainer =
                document.getElementById("selectedAuthors");
            selectedAuthorsContainer.innerHTML = "";

            for (const [authorId, authorName] of Object.entries(selectedAuthors)) {
                const authorDiv = document.createElement("div");
                authorDiv.textContent = authorName + " ";

                const removeButton = document.createElement("button");
                removeButton.textContent = "취소";
                removeButton.onclick = function () {
                    delete selectedAuthors[authorId];
                    updateSelectedAuthorsDisplay();
                };

                authorDiv.appendChild(removeButton);
                selectedAuthorsContainer.appendChild(authorDiv);
            }
        }

        const selectedTags = {};

        function loadTags() {
            fetch("/admin/tags?page=1&size=100")
                .then((response) => response.json())
                .then((data) => {
                    const tagListContainer = document.getElementById("tagList");
                    tagListContainer.innerHTML = "";

                    data.forEach((tag) => {
                        const tagDiv = document.createElement("div");
                        tagDiv.textContent = tag.tagName;
                        tagDiv.classList.add("tag-item");
                        tagDiv.onclick = function () {
                            selectTag(tag.tagId, tag.tagName);
                        };
                        tagListContainer.appendChild(tagDiv);
                    });
                })
                .catch((error) => {
                    console.error("Error:", error);
                });
        }

        function selectTag(tagId, tagName) {
            if (!selectedTags.hasOwnProperty(tagId)) {
                selectedTags[tagId] = tagName;
                updateSelectedTagsDisplay();
            }
        }

        function updateSelectedTagsDisplay() {
            const selectedTagsContainer = document.getElementById("selectedTags");
            selectedTagsContainer.innerHTML = "";

            for (const [tagId, tagName] of Object.entries(selectedTags)) {
                const tagDiv = document.createElement("div");
                tagDiv.textContent = tagName + " ";

                const removeButton = document.createElement("button");
                removeButton.textContent = "취소";
                removeButton.onclick = function () {
                    delete selectedTags[tagId];
                    updateSelectedTagsDisplay();
                };

                tagDiv.appendChild(removeButton);
                selectedTagsContainer.appendChild(tagDiv);
            }
        }

        document.addEventListener("DOMContentLoaded", loadTags);
        document.addEventListener("DOMContentLoaded", function() {
            initializeSelectedAuthors();
            initializeSelectedTags();
            loadTags();
        });
        // selectedAuthors 초기화 함수
        function initializeSelectedAuthors() {
            var authorNames = /*[[${storedBook.authorNames}]]*/ [];
            authorNames.forEach(function(name, index) {
                selectedAuthors[index] = name;
            });
            updateSelectedAuthorsDisplay();
        }

        function initializeSelectedTags() {
            var tagNames = /*[[${storedBook.tagNames}]]*/ [];
            tagNames.forEach(function(name, index) {
                selectedTags[index] = name;
            });
            updateSelectedTagsDisplay();
        }


    </script>
</div>
</body>
</html>
