<!DOCTYPE html>
<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">

<head>
    <title>첫페이지 | ckin</title>
    <link rel="stylesheet" href="/css/setting.css">
    <link rel="stylesheet" href="/css/plugin.css">
    <!--                <link rel="stylesheet" href="/css/template.css">-->
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/main-initial.css">
    <link rel="stylesheet" href="/css/main/section.css">

</head>

<!-- 본문 내용 -->
<div layout:fragment="content">

    <div class="container">

    </div>

    <main class="container_wrapper">
        <section id="section-contents" class="contents_wrap aside">
            <div class="contents_inner" style="width: 956px">
                <h1 class="section-title"
                    style="display: flex; justify-content: center;">
                    신간 도서 🌸
                </h1>
                <div id="homeTabAll" class="tab_content ui-tabs-panel ui-corner-bottom ui-widget-content"
                     data-type="all" style="" aria-labelledby="ui-id-42" role="tabpanel" aria-hidden="true">
                    <div class="list_result_wrap">
                        <div class="pagination" id="allTopPagi">
                            <button class="btn_page prev"
                                    th:onclick="|javascript:location.href='/product/recent?page=' + (${pagination.getNumber() - 1})|"
                                    th:classappend="${!(pagination.number > 0)} ? 'disabled'">
                                <a th:onclick="@{'/product/recent'(page=${pagination.getNumber() + 1})}"></a>
                                <span class="hidden">이전</span>
                            </button>
                            <div class="page_num">
                                <div th:with="start=1, end=${(pagination.totalPages == 0) ? 1 : pagination.totalPages}">
                                    <a th:each="page: ${#numbers.sequence(start, end)}"
                                       th:href="@{'/product/recent'(page=${page - 1})}" th:data-index="${page}"
                                       class="btn_page_num" data-role="middle" th:text="${page}"></a>
                                </div>
                            </div>
                            <button class="btn_page next"
                                    th:onclick="|javascript:location.href='/product/recent?page=' + (${pagination.getNumber() + 1})|"
                                    th:classappend="${!(pagination.number < pagination.totalPages - 1)} ? 'disabled'">

                                <span class="hidden">다음</span>
                            </button>
                        </div>
                    </div>
                    <div class="switch_prod_wrap view_type_list">
                        <ol class="prod_list" style="">
                            <li class="prod_item" th:each="book : ${pagination.content}">
                                <div class="prod_area horizontal">
                                    <div class="prod_thumb_box size_lg">
                                        <a class="prod_link" th:href="@{'/product/view/' + ${book.bookId}}">
                                            <span class="img_box">
                                            <img data-kbbfn="s3-image" loading="lazy" alt="book-image"
                                                 th:src="${book.thumbnail}">
                                            </span>
                                        </a>
                                    </div>
                                    <div class="prod_info_box">
                                        <div class="auto_overflow_wrap prod_name_group">
                                            <div class="auto_overflow_contents">
                                                <div class="auto_overflow_inner">
                                                    <a th:href="@{'/product/view/' + ${book.bookId}}" class="prod_info">
                                                        <span class="prod_name" th:text="${book.bookTitle}"></span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <span class="prod_author">
                                            <a th:each="author : ${book.authorNames}" th:text="${author} + ' '"></a>
                                            <a th:text="' · ' + ${book.bookPublisher}"></a>
                                            <span class="date" th:text="' · ' + ${book.bookPublicationDate}"></span>
                                        </span>
                                        <div class="prod_price">
                                            <span class="percent" th:text="${book.bookDiscountRate} + '%'"></span>
                                            <span class="price">
                                                <span class="val"
                                                      th:text="${#numbers.formatInteger(book.bookSalePrice, 1, 'COMMA')} + '원 · '">
                                                </span>
                                            </span>
                                            <span class="price_normal">
                                                <span class="text">정가</span>
                                                <s class="val"
                                                   th:text="${#numbers.formatInteger(book.bookRegularPrice, 1, 'COMMA')} + '원'">
                                                </s>
                                            </span>
                                        </div>
                                        <p class="prod_introduction"></p>
                                        <div class="prod_bottom">
                                            <div class="review_summary_wrap type_sm">
                                                <span class="review_klover_box">
                                                    <span class="review_klover_text font_size_xxs"
                                                          th:text="${totalRate}"></span>
                                                </span>
                                            </div>
                                            <button data-kbbfn="wish-item" data-kbbfn-myrcode="001"
                                                    data-kbbfn-nbopcode="001" data-kbbfn-id="S000212762923"
                                                    type="button" class="btn_wish_icon ">
                                                <span class="ico_wish"></span>
                                                <span class="hidden">관심 등록</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="prod_btn_wrap">
                                    <button data-kbbfn="wish-item" data-kbbfn-myrcode="001" data-kbbfn-nbopcode="001"
                                            data-kbbfn-id="S000212762923" data-kbbfn-bid="9791138828697"
                                            class="btn_wish_icon " type="button">
                                        <span class="ico_wish"></span>
                                        <span class="hidden">관심 등록</span>
                                        <span class="text">button</span>
                                    </button>
                                </div>
                            </li>
                        </ol>
                        <div class="no_data has_line" style="display: none;">
                            <div class="no_data_desc">데이터를 불러오는 중입니다.</div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </main>
</div>
</html>