<!DOCTYPE html>
<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">


<!-- 본문 내용 -->
<div layout:fragment="content">
    <script src="/js/search.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <main class="main row">
        <div class="search-page-wrap p-t-15">
            <div class="search-content-wrap">
                <div class="search-page-title">
                    <em th:text="|${KEY_WORD} 에 대한 검색 결과가 ${SEARCH_RESULT.size()}건 있습니다|"></em>
                </div>
                <div class="search-result-wrap">
                    <div class="search-result-filter-wrap">
                        <div class="search-result-filter-grip">
                            <dl class="on pos-relative search-filter">
                                <dt>
                                    <a>검색 대상</a>
                                </dt>
                                <dd>
                                    <ul>
                                        <li class="search-filter-items-wrap">
                                            <input id="searchByTitle" type="checkbox" value="" checked>
                                            <label for="searchByTitle">책 제목</label>
                                        </li>
                                        <li class="search-filter-items-wrap">
                                            <input id="searchByAuthor" type="checkbox" value="" checked>
                                            <label for="searchByAuthor">저자</label>
                                        </li>
                                        <li class="search-filter-items-wrap">
                                            <input id="searchByPublisher" type="checkbox" value="" checked>
                                            <label for="searchByPublisher">출판사</label>
                                        </li>
                                        <li class="search-filter-items-wrap">
                                            <input id="searchByDescription" type="checkbox" value="" checked>
                                            <label for="searchByDescription">책 설명</label>
                                        </li>
                                    </ul>
                                </dd>
                            </dl>
                            <dl class="on pos-relative search-filter">
                                <dt>
                                    <a>분류</a>
                                </dt>
                                <dd>
                                    <ul>
                                        <li class="search-filter-items-wrap">
                                            <input id="searchWithInternal" type="checkbox" value="" checked>
                                            <label for="searchWithInternal">국내 도서</label>
                                        </li>
                                        <li class="search-filter-items-wrap">
                                            <input id="searchWithOverseas" type="checkbox" value="" checked>
                                            <label for="searchWithOverseas">해외 도서</label>
                                        </li>
                                    </ul>
                                </dd>
                            </dl>
                        </div>
                    </div>
                    <div class="search-result-contents-wrap">
                        <div class="search-result-contents-grip">
                            <div class="search-result-contents">
                                <div class="search-result" th:each="book : ${SEARCH_RESULT}">
                                    <div class="search-result-col">
                                        <div class="search-result-left">
                                            <a th:href="|/product/view/${book.id}|">
                                                <img th:src="${book.thumbnail}" class="search-result-img"
                                                     alt="result-img">
                                            </a>
                                            <div class="search-result-info">
                                                <a th:href="|/product/view/${book.id}|" th:text="${book.title}"></a>
                                                <div class="search-result-author-info">
                                                    <em class="author-title">저자</em>
                                                    <em th:text="${book.author}"></em>
                                                </div>
                                                <em class="search-result-publisher-info"
                                                    th:text="${book.publisher}"></em>
                                                <div class="search-result-price-info">
                                                    <em class="result-discount-rate"
                                                        th:text="|${book.discountRate}%|"></em>
                                                    <em class="result-discount-price"
                                                        th:text="${#numbers.formatInteger(book.salePrice, 3, 'COMMA') + '원'}"></em>
                                                    <s th:text="${#numbers.formatInteger(book.regularPrice, 3, 'COMMA') + '원'}"></s>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="search-result-right">
                                            <div class="search-result-quantity">
                                                <button class="search-result-quantity-btn btn btn-outline-secondary"
                                                        type="button" onclick="minusQuantity(this)">-
                                                </button>
                                                <input type="number" class="search-result-quantity-number" value="1"
                                                       placeholder="0">
                                                <button class="search-result-quantity-btn btn btn-outline-secondary"
                                                        type="button" onclick="plusQuantity(this)">+
                                                </button>
                                            </div>
                                            <form action="/cart/create" method="post">
                                                <input name="id" th:value="${book.id}" hidden>
                                                <input name="name" th:value="${book.title}" hidden>
                                                <input name="quantity" class="send-quantity" value="" hidden="">
                                                <input name="regularPrice" th:value="${book.regularPrice}" hidden>
                                                <input name="salePrice" th:value="${book.salePrice}" hidden>
                                                <input name="thumbnail" th:value="${book.thumbnail}" hidden>
                                                <button type="button" class="btn-hover color-8"
                                                        onclick="saveItemToCart(this)">장바구니
                                                    추가
                                                </button>
                                                <button type="button" class="btn-hover color-8"
                                                        onclick="placeOrderOne(this)">바로
                                                    결제하기
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </main>
</div>
</html>
