<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mypage-default}">

<div layout:fragment="mypage-content">

    <link rel="stylesheet" type="text/css" href="/css/mypage-coupon.css">

    <div id="coupon-list" class="content">
        <h1 class="title_heading">나의 쿠폰함</h1>
        <br>
        <div class="info_text_box size_lg type_purple my_benefit_summary">
            <div class="my_benefit_summary_item">
                <span class="title"><span class="ico_my_benefit_coupon"></span><span
                        class="text">사용 가능한 쿠폰</span></span>
                <span class="count">
            <span class="val" data-available-coupons="">0</span>
            <span class="unit">장</span>
        </span>
            </div>
            <div class="my_benefit_summary_item">
                <span class="title"><span class="text">이번 달 소멸예정 쿠폰</span></span>
                <span class="count fc_spot">
             <span class="val" data-expire-coupons="">0</span>
             <span class="unit">장</span>
         </span>
            </div>
        </div>

        <div class="tbl_col_wrap my_benefit">

            <table class="tbl_col_line" id="ecouponDataWrapper">
                <colgroup>
                    <col style="width: auto;">
                    <col style="width: 12%;">
                    <col style="width: 12%;">
                    <col style="width: 12%;">
                    <col style="width: 16%;">
                </colgroup>
                <thead>
                <tr>
                    <th scope="col">상세내용</th>
                    <th scope="col">사용/적립일</th>
                    <th scope="col">유효기간</th>
                    <th scope="col">구분</th>
                    <th scope="col">금액</th>
                </tr>
                </thead>
                <tbody>
                <tr data-insc-num="300022097731" th:each="coupon : ${couponPage.content}">
                    <td class="align_left">
                        <span class="my_benefit_history" th:text="${coupon.name}"></span>
                    </td>
                    <td><span class="fc_light_gray">2024.03.15</span></td>
                    <td><span class="fc_light_gray" th:text="${#dates.format(coupon.expirationDate, 'yyyy-MM-dd')}">2024.03.15</span></td>
                    <td><span class="fc_light_gray">사용가능</span></td>
                    <td>
                    <span class="my_benefit_point fc_green" th:text="${coupon.discountPrice}">
                    <span class="sign">+</span>
                    <span class="val">1,000</span>
                    <span class="unit">원</span>
                    </span>
                        <p class="remain_point">잔액: 1,000원</p>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <!-- no_data -->
        <div class="no_data has_bottom_line hidden" id="couponNoData" style="">
            <div class="no_data_desc">사용가능한 쿠폰이 없습니다.</div>
        </div>
        <!-- //no_data -->

        <!-- list_result_wrap -->
        <ul class="my_benefit_coupon_list" id="couponData" style="display: none;"></ul>
        <!-- //list_result_wrap -->

        <!-- pagination -->
        <div class="pagination" id="pointDataPaging" style="display: none;" data-coupon-list-data-paging="">
            <div class="page_num">
                <div id="pagi"></div>
            </div>
        </div>


        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center m-t-15">
                <li class="page-item" th:classappend="${!(couponPage.number > 0)} ? 'disabled'">
                    <a class="page-link"
                       th:href="@{/myPage/coupon(page=${couponPage.number - 1})}">Previous</a>
                </li>
                <th:block th:with="start=1, end=${(couponPage.totalPages == 0) ? 1 : couponPage.totalPages}">
                    <li class="page-item" th:each="page: ${#numbers.sequence(start, end)}">
                        <a class="page-link" th:href="@{/myPage/coupon(page=${page - 1})}"
                           th:text="${page}"></a></li>
                </th:block>
                <li class="page-item"
                    th:classappend="${!(couponPage.number < couponPage.totalPages - 1)} ? 'disabled'">
                    <a class="page-link"
                       th:href="@{/myPage/coupon(page=${couponPage.getNumber()+1})}">Next</a>
                </li>
            </ul>
        </nav>

<!--        <div class="info_text_box size_lg " style="margin: 60px 0 0;">-->
<!--            <div class="info_text_inner">-->
<!--                <ul class="bul_list">-->
<!--                    <li class="bul_item_dot font_size_xxs">출판문화산업 진흥법에 의거 도서정가제가 적용됩니다. (2014년 11월 21일)</li>-->
<!--                    <li class="bul_item_dot font_size_xxs">도서정가제 적용대상인 국내도서, eBook은 상품정가의 최대 10%까지만 할인이 가능합니다.-->
<!--                        <br>그 외 외국도서, 음반, DVD 구매 시에는 기존과 같이 쿠폰을 사용할 수 있습니다.-->
<!--                    </li>-->
<!--                    <li class="bul_item_dot font_size_xxs">도서정가제 적용대상 상품의 판매가가 10% 할인이 이미 되어 있다면, 상품쿠폰 및 주문쿠폰을 사용하실 수-->
<!--                        없습니다.-->
<!--                    </li>-->
<!--                </ul>-->
<!--                <ul class="bul_list">-->
<!--                    <li class="bul_item_dot font_size_xxs">국내도서 (정가 10,000원, 10%할인, 판매가 9,000원) : 쿠폰사용 불가</li>-->
<!--                    <li class="bul_item_dot font_size_xxs">외국도서 (정가 10,000원, 10%할인, 판매가 9,000원) : 쿠폰사용 가능 (보유한 쿠폰 중-->
<!--                        사용가능한 쿠폰이 자동으로 적용됩니다. 사용 가능한 쿠폰이나 적용되지 않을 경우 보유하고 계신 쿠폰의 적용조건을 확인 주시기 바랍니다.)-->
<!--                    </li>-->
<!--                    <li class="bul_item_dot font_size_xxs">상품쿠폰은 상품 종 별로 적용되며, 쿠폰에 따라 1개 또는 주문수량에 맞게 적용됩니다.</li>-->
<!--                    <li class="bul_item_dot font_size_xxs">유효기간이 지난 쿠폰은 재발행 되지 않습니다.</li>-->
<!--                    <li class="bul_item_dot font_size_xxs">무료배송쿠폰은 배송비가 발생하는 주문에 한해 배송비 무료 적용을 하실 수 있습니다. (단, 해외배송 제외)-->
<!--                    </li>-->
<!--                    <li class="bul_item_dot font_size_xxs">주문한 도서 중 일부 품절, 일부 반품 시 쿠폰적용으로 인해 환불예상금액이 달라질 수 있습니다.</li>-->
<!--                    <li class="bul_item_dot font_size_xxs">일본잡지 정기구독, 강연상품, 책 그리고 꽃 등 특정상품에는 쿠폰 사용이 불가합니다.</li>-->
<!--                </ul>-->
<!--            </div>-->
<!--        </div>-->
        <!--//info_text_box-->
    </div>
</div>

</html>
