<!DOCTYPE html>
<html lang="ko">

<!-- header -->
<div th:replace="/fragments/admin-header.html :: admin-fragment-header"></div>

<!-- body -->
<body class="sb-nav-fixed" style="font-family: 'Noto Sans KR', sans-serif;">
<div th:replace="/fragments/admin-nav.html :: admin-fragment-nav"></div>
<div th:replace="/fragments/admin-sidebar.html :: admin-fragment-sidebar"></div>

<!-- 본문 내용 -->
<div id="layoutSidenav">
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">관리자 페이지</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active">CKIN 관리자 페이지입니다.</li>
                </ol>
            </div>
        </main>

        <!-- footer -->
        <footer th:replace="/fragments/admin-footer.html :: admin-fragment-footer"></footer>
    </div>
</div>
</body>
</html>
