<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>주문 | 주소 목록</title>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/sale-address.css">
</head>
<body>
    <h4 style="text-align: center">주소 목록</h4>

    <div th:if="${#lists.isEmpty(addressList)}">
        <span>등록된 주소가 없습니다.</span>
    </div>

    <div th:each="address : ${addressList}" class="card mb-3" th:classappend="${address.getIsDefault()} ? 'border-success' : 'border-dark'" th:id="'card-' + ${address.addressId}">
        <div class="card-header">
            <h5 class="mb-1" th:text="${address.postCode}"></h5>
            <span class="badge text-bg-success" th:if="${address.isDefault}">기본 배송지</span>
        </div>
        <div class="card-body">
            <h5 class="card-title" th:id="'card-alias' + ${address.addressId}" th:text="${address.alias}"></h5>
            <p class="card-text" th:id="'card-base' + ${address.addressId}" th:text="${address.base}"></p>
            <p class="card-text" th:id="'card-detail' + ${address.addressId}" th:text="${address.detail}"></p>
        </div>
        <div class="footer">
            <div style="display: flex">
                <a type="button" class="btn btn-outline-primary" th:href="@{/sale/address/update/{addressId}(addressId=${address.addressId})}">수정</a>
                <form th:action="@{/sale/address/delete/{addressId}(addressId=${address.addressId})}" th:method="delete">
                    <button class="btn btn-outline-primary">삭제</button>
                </form>
            </div>

            <button type="button" class="btn btn-outline-primary" th:attr="data-addressId=${address.addressId}" onclick="sendDataToUrl(this)">선택</button>
        </div>
    </div>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary block-btn" data-bs-toggle="modal" data-bs-target="#addAddress">
        배송지 추가
    </button>

    <!-- Modal -->
    <div class="modal fade" id="addAddress" tabindex="-1" aria-labelledby="addAddressLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="addAddressLabel">배송지 추가</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                   <form method="post" action="/sale/address/add" class="flex justify-content-end">
                       <div class="mb-3">
                           <input type="text" class="form-control" id="alias" name="alias" placeholder="별칭" maxlength="10" required>
                       </div>
                       <div class="input-group mb-3">
                           <input type="text" class="form-control" placeholder="우편번호" id="postcode" name="postCode" required>
                           <button class="btn btn-outline-secondary" type="button" onclick="execDaumPostcode()">우편 번호 찾기</button>
                       </div>
                       <div class="mb-3">
                           <input type="text" class="form-control" id="address" name="base" placeholder="기본 주소" required>
                       </div>
                       <div class="mb-3">
                           <input type="text" class="form-control" id="detailAddress" name="detail" placeholder="상세 주소" required>
                       </div>
                       <button type="submit" class="btn btn-outline-info">추가</button>
                   </form>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/address.js"></script>
</body>
</html>