<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
    <meta charset="UTF-8">
    <title>Coupon</title>
    <!-- Add your CSS and other head elements here -->
</head>

<h1><strong>Coupon</strong></h1>
<div layout:fragment="content" id="layoutSidenav_content">
    <div id="image">
        <img src="/images/birth-coupon.jpg" id="birth"/>
    </div>
    <br>
    <style>
        #image {
            text-align: center;
        }
        #birth {
            width: 1300px;
            height: 100%;
        }
    </style>
</div>


</footer>
</html>
