<!DOCTYPE html>
<html lang="ko">

<!-- header -->
<div th:replace="/fragments/admin-header.html :: admin-fragment-header"></div>

<!-- body -->
<body class="sb-nav-fixed" style="font-family: 'Noto Sans KR', sans-serif;">
<div th:replace="/fragments/admin-nav.html :: admin-fragment-nav"></div>
<div th:replace="/fragments/admin-sidebar.html :: admin-fragment-sidebar"></div>

<!-- 본문 내용 -->
<div id="layoutSidenav">
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">배송비 정책 페이지</h1>

                <button type="button" class="btn btn-outline-dark" style="float: right; margin-bottom: 30px;"
                        th:onclick="|location.href='/admin/policy/delivery/create'|">
                    정책 추가
                </button>

                <table class="table table-hover" style="text-align: center; vertical-align: middle;">
                    <thead>
                    <tr>
                        <th scope="col">배송비 정책 ID</th>
                        <th scope="col">배송비</th>
                        <th scope="col">배송비 무료 조건 금액</th>
                        <th scope="col">배송비 정책 사용 여부</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="deliveryPolicy : ${deliveryPolicies}">
                        <td th:text="${deliveryPolicy.deliveryPolicyId}"></td>
                        <td th:text="${deliveryPolicy.deliveryPolicyFee}"></td>
                        <td th:text="${deliveryPolicy.deliveryPolicyCondition}"></td>
                        <td th:text="${deliveryPolicy.deliveryPolicyState}"></td>
                        <td>
                            <button style="margin-bottom: 5px;" type="button" class="btn btn-outline-warning"
                                    th:onclick="|location.href='/admin/policy/delivery/${deliveryPolicy.deliveryPolicyId}'|">
                                수정
                            </button>
                            <form action="#"
                                  th:action="@{'/admin/policy/delivery/{id}'(id=${deliveryPolicy.deliveryPolicyId})}"
                                  th:method="delete">
                                <input type="hidden" name="_method" value="delete">
                                <button type="submit" class="btn btn-outline-danger">삭제</button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </main>

        <!-- footer -->
        <footer th:replace="/fragments/admin-footer.html :: admin-fragment-footer"></footer>
    </div>
</div>
</body>
</html>
