<!DOCTYPE html>
<html lang="ko">

<!-- header -->
<div th:replace="fragments/admin-header :: admin-fragment-header"></div>

<!-- body -->
<body class="sb-nav-fixed" style="font-family: 'Noto Sans KR', sans-serif;">
<div th:replace="fragments/admin-nav :: admin-fragment-nav"></div>
<div th:replace="fragments/admin-sidebar :: admin-fragment-sidebar"></div>

<!-- 본문 내용 -->
<div id="layoutSidenav">
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4" style="margin-bottom: 50px;">쿠폰 정책 등록 페이지</h1>

                <!-- 쿠폰 정책 등록 폼 -->
                <form method="post" th:action="@{/admin/policy/coupon}">

                    <div class="w-25 col" style="margin-bottom: 10px;">
                        <input style="padding: 10px" type="text" class="form-control"
                               placeholder="쿠폰 정책 ID"
                               aria-label="couponPolicyId"
                               th:name="couponPolicyId" required>
                    </div>
                    <br/>

                    <div class="w-25 col">
                        <input style="padding: 10px" type="text" class="form-control"
                               placeholder="정책 이름"
                               aria-label="pointPolicyName"
                               th:name="pointPolicyName" required>
                    </div>
                    <br/>

                    <div class="w-25 col">
                        <input style="padding: 10px" type="number" class="form-control"
                               placeholder="포인트 적립 금액"
                               aria-label="pointPolicyReserve"
                               th:name="pointPolicyReserve" required>
                    </div>
                    <br/>

                    <button class="btn btn-outline-primary" type="submit">등록</button>
                </form>
            </div>
        </main>


        <!-- footer -->
        <footer th:replace="fragments/admin-footer :: admin-fragment-footer"></footer>
    </div>
</div>
</body>
</html>
