<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">

<div th:fragment="admin-fragment-sidebar" id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">

                <div class="sb-sidenav-menu-heading">관리</div>
                <!-- 정책 관리 -->
                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts"
                   aria-expanded="false" aria-controls="collapseLayouts">
                    <div class="sb-nav-link-icon"><span class="material-symbols-outlined">rule_settings</span></div>
                    정책 관리
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne"
                     data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" th:href="@{/admin/policy/point}">포인트 적립 정책</a>
                        <a class="nav-link" th:href="@{/admin/policy/delivery}">배송비 정책</a>
                        <a class="nav-link" th:href="@{/admin/policy/packaging}">포장 정책</a>
                        <a class="nav-link" th:href="@{/admin/policy/coupon}">쿠폰 정책</a>
                        <a class="nav-link" th:href="@{#}">회원 등급 정책</a>
                    </nav>

                </div>

                <!--회원 관리-->
                <!-- 쿠폰 관리 -->
                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages"
                   aria-expanded="false" aria-controls="collapsePages">
                    <div class="sb-nav-link-icon"><span class="material-symbols-outlined">local_activity</span>
                    </div>
                    쿠폰 관리
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapsePages" aria-labelledby="headingTwo"
                     data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                        <a class="nav-link" th:href="@{/admin/coupon}">쿠폰 발급 목록</a>
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                           data-bs-target="#pagesCollapseError" aria-expanded="false"
                           aria-controls="pagesCollapseError">
                            쿠폰 템플릿
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne"
                             data-bs-parent="#sidenavAccordionPages">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" th:href="@{/admin/coupon/template/1}">생일 쿠폰 템플릿</a>
                                <a class="nav-link" th:href="@{/admin/coupon/template/2}">도서 쿠폰 템플릿</a>
                                <a class="nav-link" th:href="@{/admin/coupon/template/3}">카테고리 쿠폰 템플릿</a>
                            </nav>
                        </div>

                    </nav>
                </div>
            </div>
        </div>
    </nav>
</div>
</html>