<!DOCTYPE html>
<html lang="en">
<footer th:fragment="admin-fragment-footer" class="footer">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            crossorigin="anonymous"></script>
    <script src="/js/admin-script.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>

    <div class="container-fluid px-4">
        <div class="d-flex align-items-center small justify-content-end">
            <div class="text-muted"> &copy; 2024. CKIN (NHN Academy)</div>
        </div>
    </div>
</footer>
</html>