<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

</head>
<div class="header-v4" th:fragment="index-fragment-navigation">

    <script src="/js/nav-script.js">

    </script>
    <style>
        /* ::before와 ::after에 스타일 추가 */
        .tabs::before, .tabs::after {
            /* 스타일을 여기에 추가 */
        }
    </style>
    <!-- Header desktop -->
    <!--    <div class="container-menu-desktop">-->

    <!--        <div class="wrap-menu-desktop how-shadow1">-->
    <!--            <nav class="limiter-menu-desktop container">-->

    <!-- Logo desktop -->
    <!--                <a class="anb_wrap active animated" class="logo dm-serif display-regular-italic">-->
    <!--                    <img src="/images/main-category.png" alt="IMG-LOGO">-->
    <!--                </a>-->


    <!--                &lt;!&ndash; Menu desktop &ndash;&gt;-->
    <!--                <div class="menu-desktop">-->
    <!--                    <ul class="main-menu">-->
    <!--                        <li>-->
    <!--                            <a href="product.html">Shop</a>-->
    <!--                        </li>-->

    <!--                        <li class="label1" data-label1="sale">-->
    <!--                            <a href="shoping-cart.html">Features</a>-->
    <!--                        </li>-->

    <!--                        <li class="nav-item dropdown">-->
    <!--                            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">-->
    <!--                                Coupon-->
    <!--                            </a>-->
    <!--                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">-->
    <!--                                <li><a class="dropdown-item" th:href="@{/coupon/1}">생일 쿠폰</a></li>-->
    <!--                                <li><a class="dropdown-item" th:href="@{/coupon/2}">도서 쿠폰</a></li>-->
    <!--                                <li><a class="dropdown-item" th:href="@{/coupon/3}">카테고리 쿠폰</a></li>-->
    <!--                            </ul>-->
    <!--                        </li>-->

    <!--                        <li>-->
    <!--                            <a href="about.html">About</a>-->
    <!--                        </li>-->

    <!--                        <li>-->
    <!--                            <a href="contact.html">Contact</a>-->
    <!--                        </li>-->
    <!--                    </ul>-->
    <!--                </div>-->
    <div class="wrapper welcome" id="mainDiv" style="min-height: 0vh">


        <header class="header_wrapper has_banner perform sps sps--abv sps-abv" id="welcome_header_wrap"
                data-sps-offset="121">
            <div class="header_inner">
                <nav class="gnb_wrap" style="align-items: center">
                    <div class="anb_wrap" style="display: inline-block">
                        <button type="button" class="btn_anb" onmouseover="activateAnbWrap()"
                                onclick="deactivateAnbWrap()">
                            <span class="hidden">전체메뉴</span>
                        </button>
                        <div class="anb_area">
                            <div class="tab_wrap ui-tabs ui-corner-all ui-widget ui-widget-content">
                                <div id="tabAnbCategory"
                                     class="tab_content ui-tabs-panel ui-corner-bottom ui-widget-content"
                                     aria-labelledby="ui-id-31" role="tabpanel" aria-hidden="false">
                                    <div class="tab_wrap type_md channel ui-tabs ui-corner-all ui-widget ui-widget-content">
                                        <div id="tabAnbCategoryKyobo"
                                             class="tab_content anb_category ui-tabs-panel ui-corner-bottom ui-widget-content"
                                             aria-labelledby="ui-id-33" role="tabpanel" aria-hidden="false">
                                            <div class="anb_category_inner">
                                                <div class="tab_wrap category ui-tabs ui-corner-all ui-widget ui-widget-content">
                                                    <div class="tab_list_wrap">
                                                        <ul class="tabs ui-tabs-nav ui-corner-all ui-helper-reset ui-helper-clearfix ui-widget-header"
                                                            role="tablist">
                                                            <li class="tab_item ui-tabs-tab ui-corner-top ui-state-default ui-tab ui-tabs-active ui-state-active"
                                                                onclick="tabAndCategorySub01();"
                                                                role="tab" tabindex="-1"
                                                                aria-controls="tabAnbCategorySub01"
                                                                aria-labelledby="ui-id-37" aria-selected="false"
                                                                aria-expanded="false" id="tabSub01"><a
                                                                    href="#"
                                                                    class="tab_link ui-tabs-anchor"
                                                                    role="presentation"
                                                                    tabindex="-1" id="ui-id-37">
                                                                <span class="tab_text">국내도서</span> </a></li>
                                                            <li class="tab_item ui-tabs-tab ui-corner-top ui-state-default ui-tab"
                                                                onclick="tabAndCategorySub02();"
                                                                role="tab" tabindex="0"
                                                                aria-controls="tabAnbCategorySub02"
                                                                aria-labelledby="ui-id-38" aria-selected="false"
                                                                aria-expanded="false" id="tabSub02"><a
                                                                    href="#"
                                                                    class="tab_link ui-tabs-anchor"
                                                                    role="presentation"
                                                                    tabindex="-1" id="ui-id-38">
                                                                <span class="tab_text">서양도서</span> </a></li>
                                                        </ul>
                                                    </div>
                                                    <div id="tabAnbCategorySub01"
                                                         class="tab_content has_banner ui-tabs-panel ui-corner-bottom ui-widget-content"
                                                         aria-labelledby="ui-id-37" role="tabpanel" aria-hidden="false"
                                                         style>
                                                        <div class="custom_scroll_wrap" data-simplebar="init">
                                                            <div class="simplebar-wrapper" style="margin: 0px;">
                                                                <div class="simplebar-height-auto-observer-wrapper">
                                                                    <div class="simplebar-height-auto-observer"></div>
                                                                </div>
                                                                <div class="simplebar-mask">
                                                                    <div class="simplebar-offset"
                                                                         style="right: 0px; bottom: 0px;">
                                                                        <div class="simplebar-content-wrapper"
                                                                             id="simplebarContentWrapper"
                                                                             style="height: 100%; overflow: hidden;">
                                                                            <div class="simplebar-content"
                                                                                 style="padding: 0px;">
                                                                                <div class="custom_scroll_inner"
                                                                                     id="customScrollInner"
                                                                                     tabindex="0"
                                                                                     style="height: 370px;">
                                                                                    <div class="category_view_area"><a
                                                                                            href="/product/1"
                                                                                            class="btn_arw_link">
                                                                                        <span class="text">국내도서 전체</span>
                                                                                    </a>
                                                                                        <div class="fold_box_wrap category">
                                                                                            <div class="col_area">
                                                                                                <ul class="fold_box_list"
                                                                                                    id="categoryList">

                                                                                                </ul>
                                                                                            </div>
                                                                                            <div class="col_area">
                                                                                                <ul class="fold_box_list"
                                                                                                    id="subCategoryList">

                                                                                                </ul>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="simplebar-placeholder"
                                                                     id="simplebarPlaceholder"
                                                                     style="width: 0px; height: 0px;"></div>
                                                            </div>
                                                            <div class="simplebar-track simplebar-horizontal"
                                                                 style="visibility: hidden;">
                                                                <div class="simplebar-scrollbar simplebar-visible"
                                                                     style="width: 0px; display: none;"></div>
                                                            </div>
                                                            <div class="simplebar-track simplebar-vertical"
                                                                 style="visibility: hidden;">
                                                                <div class="simplebar-scrollbar simplebar-visible"
                                                                     style="height: 0px; display: none;"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="tabAnbCategorySub02"
                                                         class="tab_content has_banner ui-tabs-panel ui-corner-bottom ui-widget-content"
                                                         aria-labelledby="ui-id-38" role="tabpanel" aria-hidden="false"
                                                         style="">
                                                        <div class="custom_scroll_wrap" data-simplebar="init">
                                                            <div class="simplebar-wrapper" style="margin: 0px;">
                                                                <div class="simplebar-height-auto-observer-wrapper">
                                                                    <div class="simplebar-height-auto-observer"></div>
                                                                </div>
                                                                <div class="simplebar-mask">
                                                                    <div class="simplebar-offset"
                                                                         style="right: 0px; bottom: 0px;">
                                                                        <div class="simplebar-content-wrapper"
                                                                             id="simplebarContentWrapper2"
                                                                             style="height: auto; overflow: hidden;">
                                                                            <div class="simplebar-content"
                                                                                 style="padding: 0px;">
                                                                                <div class="custom_scroll_inner"
                                                                                     id="customScrollInner2"
                                                                                     tabindex="0" style="height: 0px;">
                                                                                    <div class="category_view_area"><a
                                                                                            href="/product/2"
                                                                                            class="btn_arw_link"> <span
                                                                                            class="text">서양도서 전체</span>
                                                                                    </a>
                                                                                        <div class="fold_box_wrap category">
                                                                                            <div class="col_area">
                                                                                                <ul class="fold_box_list"
                                                                                                    id="categoryList2">

                                                                                                </ul>
                                                                                            </div>
                                                                                            <div class="col_area">
                                                                                                <ul class="fold_box_list"
                                                                                                    id="subCategoryList2">

                                                                                                </ul>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="simplebar-placeholder"
                                                                     id="simplebarPlaceholder2"
                                                                     style="width: 0px; height: 0px;"></div>
                                                            </div>
                                                            <div class="simplebar-track simplebar-horizontal"
                                                                 style="visibility: hidden;">
                                                                <div class="simplebar-scrollbar simplebar-visible"
                                                                     style="width: 0px; display: none;"></div>
                                                            </div>
                                                            <div class="simplebar-track simplebar-vertical"
                                                                 style="visibility: hidden;">
                                                                <div class="simplebar-scrollbar simplebar-visible"
                                                                     style="height: 0px; display: none;"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <ul class="gnb_list" style="display: inline-block">
                        <li class="gnb_item"><a href="https://event.kyobobook.co.kr/detail/217649" class="gnb_link"
                                                onclick="ga360.GA_Event('click_공통_PC', 'GNB', '종이책', '대학교재🎓', '');">
                            <em>대학교재🎓</em> <span class="ico_new"> <span class="hidden">추천 메뉴</span> </span> </a></li>
                        <li class="gnb_item"><a href="https://event.kyobobook.co.kr/detail/217774" class="gnb_link"
                                                onclick="ga360.GA_Event('click_공통_PC', 'GNB', '종이책', '어린이🧒', '');"> <em>어린이🧒</em>
                            <span class="ico_new"> <span class="hidden">추천 메뉴</span> </span> </a></li>
                        <li class="gnb_item"><a href="https://product.kyobobook.co.kr/bestseller/online?period=001"
                                                class="gnb_link"
                                                onclick="ga360.GA_Event('click_공통_PC', 'GNB', '종이책', '베스트', '');">
                            베스트 </a></li>
                        <li class="gnb_item"><a href="https://product.kyobobook.co.kr/new/" class="gnb_link"
                                                onclick="ga360.GA_Event('click_공통_PC', 'GNB', '종이책', '신상품', '');">
                            신상품 </a></li>
                        <li class="gnb_item"><a href="https://event.kyobobook.co.kr/" class="gnb_link"
                                                onclick="ga360.GA_Event('click_공통_PC', 'GNB', '종이책', '이벤트', '');">
                            이벤트 </a></li>
                        <li class="gnb_item">-->
                            <a class="gnb_link nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                Coupon
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" th:href="@{/coupon/1}">생일 쿠폰</a></li>
                                <li><a class="dropdown-item" th:href="@{/coupon/2}">도서 쿠폰</a></li>
                                <li><a class="dropdown-item" th:href="@{/coupon/3}">카테고리 쿠폰</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>


        <!--            </nav>-->
        <!--        </div>-->
        <!--    </div>-->

        <!-- Header Mobile -->
        <div class="wrap-header-mobile">
            <!-- Logo moblie -->
            <div class="logo-mobile">
                <a href="/">
                    <img src="/images/main-category.png" alt="IMG-LOGO">
                </a>
            </div>

            <!-- Icon header -->
            <div class="wrap-icon-header flex-w flex-r-m m-r-15">
                <div class="icon-header-item cl2 hov-cl1 trans-04 p-r-11 js-show-modal-search">
                    <i class="zmdi zmdi-search"></i>
                </div>

                <div class="icon-header-item cl2 hov-cl1 trans-04 p-r-11 p-l-10 js-show-cart">
                    <i class="zmdi zmdi-shopping-cart"></i>
                </div>

                <a href="#" class="dis-block icon-header-item cl2 hov-cl1 trans-04 p-r-11 p-l-10">
                    <i class="zmdi zmdi-favorite-outline"></i>
                </a>
            </div>

            <!-- Button show menu -->
            <div class="btn-show-menu-mobile hamburger hamburger--squeeze">
				<span class="hamburger-box">
					<span class="hamburger-inner"></span>
				</span>
            </div>
        </div>


        <!-- Menu Mobile -->
        <div class="menu-mobile">
            <ul class="topbar-mobile">
                <li>
                    <div class="left-top-bar">
                        Free shipping for standard order over $100
                    </div>
                </li>

                <li>
                    <div class="right-top-bar flex-w h-full">
                        <a href="#" class="flex-c-m p-lr-10 trans-04">
                            Help & FAQs
                        </a>

                        <a href="#" class="flex-c-m p-lr-10 trans-04">
                            My Account
                        </a>

                        <a href="#" class="flex-c-m p-lr-10 trans-04">
                            EN
                        </a>

                        <a href="#" class="flex-c-m p-lr-10 trans-04">
                            USD
                        </a>
                    </div>
                </li>
            </ul>

            <ul class="main-menu-m">
                <li>
                    <a href="index.html">Home</a>
                    <ul class="sub-menu-m">
                        <li><a href="index.html">Homepage 1</a></li>
                        <li><a href="home-02.html">Homepage 2</a></li>
                        <li><a href="home-03.html">Homepage 3</a></li>
                    </ul>
                    <span class="arrow-main-menu-m">
						<i class="fa fa-angle-right" aria-hidden="true"></i>
					</span>
                </li>

                <li>
                    <a href="product.html">Shop</a>
                </li>

                <li>
                    <a href="shoping-cart.html" class="label1 rs1" data-label1="hot">Features</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink2" role="button"
                       data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Coupon
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" th:href="@{/coupon/1}">생일 쿠폰</a></li>
                        <li><a class="dropdown-item" th:href="@{/coupon/2}">도서 쿠폰</a></li>
                        <li><a class="dropdown-item" th:href="@{/coupon/3}">카테고리 쿠폰</a></li>
                    </ul>
                </li>

                <li>
                    <a href="about.html">About</a>
                </li>

                <li>
                    <a href="contact.html">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</div>

</html>