<!DOCTYPE html>
<html lang="en">
<footer th:fragment="index-fragment-footer" class="bg3 p-t-20 p-b-20">

    <!-- Footer -->
    <div class="container">
        <div class="row" style="display: flex;">
            <div class="col-sm-5 col-lg-4 p-b-50">
                <h4 class="stext-301 cl0 p-b-30">
                    Categories
                </h4>

                <ul>
                    <li class="p-b-10">
                        <a href="/product/1" class="stext-106 cl7 hov-cl1 trans-04">
                            국내 도서
                        </a>
                    </li>

                    <li class="p-b-10">
                        <a href="/product/2" class="stext-106 cl7 hov-cl1 trans-04">
                            서양 도서
                        </a>
                    </li>

                    <li class="p-b-10">
                        <a href="/product/3?categoryName=소설" class="stext-106 cl7 hov-cl1 trans-04">
                            국내 소설
                        </a>
                    </li>

                    <li class="p-b-10">
                        <a href="/product/3?categoryName=영미소설" class="stext-106 cl7 hov-cl1 trans-04">
                            서양 소설
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-sm-5 col-lg-4 p-b-50">
                <h4 class="stext-301 cl0 p-b-30">
                    Help
                </h4>

                <ul>
                    <li class="p-b-10">
                        <a href="#" class="stext-106 cl7 hov-cl1 trans-04">
                            Track Order
                        </a>
                    </li>

                    <li class="p-b-10">
                        <a href="#" class="stext-106 cl7 hov-cl1 trans-04">
                            Returns
                        </a>
                    </li>

                    <li class="p-b-10">
                        <a href="#" class="stext-106 cl7 hov-cl1 trans-04">
                            Shipping
                        </a>
                    </li>

                    <li class="p-b-10">
                        <a href="#" class="stext-106 cl7 hov-cl1 trans-04">
                            FAQs
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-sm-5 col-lg-4 p-b-50">
                <h4 class="stext-301 cl0 p-b-30">
                    ABOUT US
                </h4>

                <p class="stext-106 cl7 size-201">
                    This web page is a result of a team project conducted at NHN Academy by the CKIN team.
                </p>

                <div class="p-t-27">
                    <a href="https://github.com/nhnacademy-be4-ckin" class="fs-18 cl7 hov-cl1 trans-04 m-r-16 m-b-5">
                        <i class="fa-brands fa-github"> </i> GitHub
                    </a>

                    <a href="https://www.erdcloud.com/team/SsicdDqqpGMcrgsht"
                       class="fs-18 cl7 hov-cl1 trans-04 m-r-16 m-b-5">
                        <i class="fa-solid fa-database"> </i> ERD
                    </a>

                    <a href="mailto:f1v3@kakao.com" class="fs-18 cl7 hov-cl1 trans-04 m-r-16 m-b-5">
                        <i class="fa-regular fa-paper-plane"></i> Email
                    </a>
                </div>
            </div>
        </div>

        <div class="p-t-15">
            <p class="stext-106 cl6 txt-center">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                &copy; 2024. CKIN (NHN Academy) | Made with <i class="fa fa-heart-o" aria-hidden="true"></i>
                by <a href="https://colorlib.com" target="_blank" style="color: #4dac27 !important;">Colorlib</a>
                &amp; distributed by <a href="https://themewagon.com" target="_blank"
                                        style="color: #4dac27 !important;">ThemeWagon</a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
        </div>
    </div>
</footer>
</html>