<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <style>
        a {
            text-decoration: none;
            color: inherit;
        }

        /* ::before와 ::after에 스타일 추가 */
        .tabs::before, .tabs::after {
            /* 스타일을 여기에 추가 */
        }
    </style>
</head>

<header class="header-v4" th:fragment="index-fragment-header">
    <!-- Header desktop -->
    <div class="container-menu-desktop ">

        <div class="wrap-menu-desktop how-shadow1">
            <nav class="limiter-menu-desktop container search-nav">

                <!-- Logo desktop -->
                <a href="/" class="logo flex-l ">
                    <img src="/images/ckin-logo.jpg" alt="IMG-LOGO">
                </a>

                <!-- Menu desktop -->
                <div class="search-container margin-container-250">
                    <div class="search">
                        <a href="/" class="search-image-container">
                            <img src="/images/logo.png" alt="IMG-LOGO" class="search-image">
                        </a>
                        <form id="searchForm" class="searchForm" th:action="@{/search(keyword=${keyword})}"
                              method="get" onsubmit="clickSearchBtn()">
                            <input name="keyword" id="keyword" type="text" class="searchInputText inherit"
                                   placeholder="검색어를 입력해 주세요">
                        </form>
                        <a onclick="clickSearchBtn()" class="search-button-a">
                            <svg id="search-btn" viewBox="0 0 50 50" xmlns="http://www.w3.org/2000/svg"
                                 style="fill: #03c75a" class="search-button-container">
                                <path class="search-button"
                                      d="M22.13.5c11.378 0 20.632 9.256 20.632 20.63 0 4.699-1.566 9.155-4.439 12.782l10.164 10.165a2.41 2.41 0 0 1-1.706 4.115 2.412 2.412 0 0 1-1.706-.705L33.31 35.719a2.41 2.41 0 0 1 0-3.41 15.71 15.71 0 0 0 4.628-11.178c0-8.718-7.09-15.808-15.807-15.808-8.718 0-15.808 7.09-15.808 15.808 0 7.15 4.817 13.43 11.714 15.273a2.41 2.41 0 0 1 1.705 2.954 2.41 2.41 0 0 1-2.95 1.705C7.788 38.658 1.5 30.46 1.5 21.131 1.5 9.756 10.756.5 22.13.5zm4.716 34.746a3.483 3.483 0 1 1 0 6.966 3.483 3.483 0 0 1 0-6.966z"></path>
                            </svg>
                        </a>
                    </div>
                </div>

                <!-- Icon header -->
                <div class="icons wrap-icon-header">
                    <div class="icon-header-item">
                        <a href="/cart" class="material-symbols-sharp">shopping_cart_checkout</a>
                    </div>

                    <th:block sec:authorize="isAuthenticated()">

                        <div th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}"
                             class="icon-header-item">
                            <a href="/admin" class="material-symbols-sharp">shield_person</a>
                        </div>
                        <div style="display: contents" id="welcome-alert" onclick="welcome()" >
                            <a href="#" style="display: contents">
                            <img class="welcome-img" src="/images/icons/welcome-purple.png"/>
                            </a>
                        </div>
                        <script th:inline="javascript">
                            var data = [[${isWelcome}]];
                            console.log(data);
                            let welcome_alert = document.getElementById("welcome-alert");
                            welcome_alert.style.display = "none";
                            if(data != null) {
                                console.log("실행됨");
                                $.ajax ({
                                    type: "POST",
                                    url: '/coupon/welcome',
                                    dataType: 'json',
                                    success: function (result) {
                                        welcome_alert.style.display = "contents";
                                    },
                                    error: function (error) {
                                        console.error("Welcome Coupon Failed");
                                    }
                                });
                            }
                        </script>

                        <div th:unless="${#authorization.expression('hasAuthority(''ADMIN'')')}"
                             class="icon-header-item">
                            <a th:href="@{/member/mypage/order-list}" class="material-symbols-sharp">account_circle</a>
                        </div>

                    </th:block>

                    <div sec:authorize="isAnonymous()" class="icon-header-item">
                        <a href="/login" class="material-symbols-sharp">login</a>
                    </div>

                    <div sec:authorize="isAuthenticated()" class="icon-header-item">
                        <a href="/logout" class="material-symbols-sharp">logout</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <script src="/js/nav-script.js"></script>
</header>

</html>