<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <style>
        a {
            text-decoration: none;
            color: inherit;
        }

        /* ::before와 ::after에 스타일 추가 */
        .tabs::before, .tabs::after {
            /* 스타일을 여기에 추가 */
        }
    </style>
</head>

<header class="header-v4" th:fragment="index-fragment-header">
    <!-- Header desktop -->
    <div class="container-menu-desktop ">

        <div class="wrap-menu-desktop how-shadow1">
            <nav class="limiter-menu-desktop container">

                <!-- Logo desktop -->
                <a href="/" class="logo dm-serif display-regular-italic">
                    <img src="/images/logo.png" alt="IMG-LOGO">
                </a>

                <!-- Menu desktop -->
                <div class="menu-desktop">
                    <ul class="main-menu">
                        <label for="search">
                            <input type="text" id="search" placeholder="Search">
                        </label>
                    </ul>
                </div>


                <!-- Icon header -->
                <div class="wrap-icon-header flex-w flex-r-m">
                    <div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 js-show-modal-search">
                        <span class="material-symbols-sharp">search</span>
                    </div>

                    <div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 js-show-cart">
                        <a href="/cart" class="material-symbols-sharp">shopping_cart_checkout</a>
                    </div>

                    <th:block sec:authorize="isAuthenticated()">

                        <div th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}"
                             class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11">
                            <a href="/admin" class="material-symbols-sharp">shield_person</a>
                        </div>

                        <div th:unless="${#authorization.expression('hasAuthority(''ADMIN'')')}"
                             class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11">
                            <a href="/member/mypage" class="material-symbols-sharp">account_circle</a>
                        </div>

                    </th:block>

                    <div sec:authorize="isAnonymous()" class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11">
                        <a href="/login" class="material-symbols-sharp">login</a>
                    </div>

                    <div sec:authorize="isAuthenticated()" class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11">
                        <a href="/logout" class="material-symbols-sharp">logout</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>

    <!-- Modal Search -->
    <div class="modal-search-header flex-c-m trans-04 js-hide-modal-search">
        <div class="container-search-header">
            <button class="flex-c-m btn-hide-modal-search trans-04 js-hide-modal-search">
                <i class="fa-solid fa-xmark"></i>
            </button>

            <form class="wrap-search-header flex-w p-l-15">
                <button class="flex-c-m trans-04">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
                <input class="plh3" type="text" name="search" placeholder="Search...">
            </form>
        </div>
    </div>

    <script src="/js/nav-script.js"></script>
</header>

</html>