<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

</head>
<div class="header-v4" th:fragment="index-fragment-navigation">
    <link rel="stylesheet" type="text/css" href="/css/main/navigation.css"/>
    <script src="/js/nav-script.js">

    </script>
    <style>
        /* ::before와 ::after에 스타일 추가 */
        .tabs::before, .tabs::after {
            /* 스타일을 여기에 추가 */
        }
    </style>
    <div class="wrapper welcome" id="mainDiv" style="min-height: 0vh">


        <div class="header_wrapper has_banner perform sps sps--abv sps-abv" id="welcome_header_wrap"
             data-sps-offset="121">
            <div class="header_inner mx-auto">
                <div class="gnb_wrap set-wrap-80">
                    <div class="anb_wrap" style="display: inline-block">
                        <button type="button" class="btn_anb" value="none" id="category"
                                onclick="activateAnbWrap(this)">
                        </button>
                        <div class="anb_area">
                            <div class="tab_wrap ui-tabs ui-corner-all ui-widget ui-widget-content">
                                <div id="tabAnbCategory"
                                     class="tab_content ui-tabs-panel ui-corner-bottom ui-widget-content"
                                     aria-labelledby="ui-id-31" role="tabpanel" aria-hidden="false">
                                    <div class="tab_wrap type_md channel ui-tabs ui-corner-all ui-widget ui-widget-content">
                                        <div id="tabAnbCategoryKyobo"
                                             class="tab_content anb_category ui-tabs-panel ui-corner-bottom ui-widget-content"
                                             aria-labelledby="ui-id-33" role="tabpanel" aria-hidden="false">
                                            <div class="anb_category_inner">
                                                <div class="tab_wrap category ui-tabs ui-corner-all ui-widget ui-widget-content">
                                                    <div class="tab_list_wrap">
                                                        <ul class="tabs ui-tabs-nav ui-corner-all ui-helper-reset ui-helper-clearfix ui-widget-header"
                                                            role="tablist">
                                                            <li class="tab_item ui-tabs-tab ui-corner-top ui-state-default ui-tab ui-tabs-active ui-state-active"
                                                                onclick="tabAndCategorySub01();"
                                                                role="tab" tabindex="-1"
                                                                aria-controls="tabAnbCategorySub01"
                                                                aria-labelledby="ui-id-37" aria-selected="false"
                                                                aria-expanded="false" id="tabSub01"><a
                                                                    href="#"
                                                                    class="tab_link ui-tabs-anchor"
                                                                    role="presentation"
                                                                    tabindex="-1" id="ui-id-37">
                                                                <span class="tab_text">국내도서</span> </a></li>
                                                            <li class="tab_item ui-tabs-tab ui-corner-top ui-state-default ui-tab"
                                                                onclick="tabAndCategorySub02();"
                                                                role="tab" tabindex="0"
                                                                aria-controls="tabAnbCategorySub02"
                                                                aria-labelledby="ui-id-38" aria-selected="false"
                                                                aria-expanded="false" id="tabSub02"><a
                                                                    href="#"
                                                                    class="tab_link ui-tabs-anchor"
                                                                    role="presentation"
                                                                    tabindex="-1" id="ui-id-38">
                                                                <span class="tab_text">서양도서</span> </a></li>
                                                        </ul>
                                                    </div>
                                                    <div id="tabAnbCategorySub01"
                                                         class="tab_content has_banner ui-tabs-panel ui-corner-bottom ui-widget-content"
                                                         aria-labelledby="ui-id-37" role="tabpanel" aria-hidden="false"
                                                         style>
                                                        <div class="custom_scroll_wrap" data-simplebar="init">
                                                            <div class="simplebar-wrapper" style="margin: 0px;">
                                                                <div class="simplebar-height-auto-observer-wrapper">
                                                                    <div class="simplebar-height-auto-observer"></div>
                                                                </div>
                                                                <div class="simplebar-mask">
                                                                    <div class="simplebar-offset"
                                                                         style="right: 0px; bottom: 0px;">
                                                                        <div class="simplebar-content-wrapper"
                                                                             id="simplebarContentWrapper"
                                                                             style="height: 100%; overflow: hidden;">
                                                                            <div class="simplebar-content"
                                                                                 style="padding: 0px;">
                                                                                <div class="custom_scroll_inner"
                                                                                     id="customScrollInner"
                                                                                     tabindex="0"
                                                                                     style="height: 370px;">
                                                                                    <div class="category_view_area"><a
                                                                                            href="/product/1"
                                                                                            class="btn_arw_link">
                                                                                        <span class="text">국내도서 전체</span>
                                                                                    </a>
                                                                                        <div class="fold_box_wrap category">
                                                                                            <div class="col_area">
                                                                                                <ul class="fold_box_list"
                                                                                                    id="categoryList">

                                                                                                </ul>
                                                                                            </div>
                                                                                            <div class="col_area">
                                                                                                <ul class="fold_box_list"
                                                                                                    id="subCategoryList">

                                                                                                </ul>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="simplebar-placeholder"
                                                                     id="simplebarPlaceholder"
                                                                     style="width: 0px; height: 0px;"></div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div id="tabAnbCategorySub02"
                                                         class="tab_content has_banner ui-tabs-panel ui-corner-bottom ui-widget-content"
                                                         aria-labelledby="ui-id-38" role="tabpanel" aria-hidden="false"
                                                         style="">
                                                        <div class="custom_scroll_wrap" data-simplebar="init">
                                                            <div class="simplebar-wrapper" style="margin: 0px;">
                                                                <div class="simplebar-height-auto-observer-wrapper">
                                                                    <div class="simplebar-height-auto-observer"></div>
                                                                </div>
                                                                <div class="simplebar-mask">
                                                                    <div class="simplebar-offset"
                                                                         style="right: 0px; bottom: 0px;">
                                                                        <div class="simplebar-content-wrapper"
                                                                             id="simplebarContentWrapper2"
                                                                             style="height: auto; overflow: hidden;">
                                                                            <div class="simplebar-content"
                                                                                 style="padding: 0px;">
                                                                                <div class="custom_scroll_inner"
                                                                                     id="customScrollInner2"
                                                                                     tabindex="0" style="height: 0px;">
                                                                                    <div class="category_view_area"><a
                                                                                            href="/product/2"
                                                                                            class="btn_arw_link"> <span
                                                                                            class="text">서양도서 전체</span>
                                                                                    </a>
                                                                                        <div class="fold_box_wrap category">
                                                                                            <div class="col_area">
                                                                                                <ul class="fold_box_list"
                                                                                                    id="categoryList2">

                                                                                                </ul>
                                                                                            </div>
                                                                                            <div class="col_area">
                                                                                                <ul class="fold_box_list"
                                                                                                    id="subCategoryList2">

                                                                                                </ul>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="simplebar-placeholder"
                                                                     id="simplebarPlaceholder2"
                                                                     style="width: 0px; height: 0px;"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <ul class="gnb_list" style="display: inline-block">
                        <li class="gnb_item"><a th:href="@{'/product/recent'}" class="gnb_link">
                            <em>신간도서 🌸</em> </a></li>
                        <li class="gnb_item"><a th:href="@{'/product/tag/BEST'}" class="gnb_link">
                            <em>인기도서 🎖️</em></a></li>
                        <li class="gnb_item"><a th:href="@{'/product/event'}" class="gnb_link">
                            이벤트 </a></li>
                        <li class="gnb_item">-->
                            <a class="gnb_link nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button"
                               th:value="none"
                               data-bs-toggle="dropdown" aria-expanded="false" onclick="birthCouponList(this)">
                                Coupon
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" th:href="@{/coupon/1}">생일 쿠폰</a></li>
                                <li><a class="dropdown-item" th:href="@{/coupon/2}">도서 쿠폰</a></li>
                                <li><a class="dropdown-item" th:href="@{/coupon/3}">카테고리 쿠폰</a></li>
                            </ul>
                        </li>
                        <!-- 비회원 주문 조회 링크 -->
                        <li class="gnb_item">
                            <a class="gnb_link" th:href="@{/sale/guest}">
                                <em>비회원 주문 조회 🧾</em>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

</html>