<!DOCTYPE html>
<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">

<!-- 본문 내용 -->
<div layout:fragment="content">
    <form action="#" th:action="@{/}" class="bg0 p-t-75 p-b-85">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
                    <div class="m-l-25 m-r--38 m-lr-0-xl">
                        <div class="wrap-table-shopping-cart">
                            <table class="table-shopping-cart" style="text-align: center;">
                                <tr class="table_head">
                                    <th class="column-1"></th>
                                    <th class="column-2">상품명</th>
                                    <th class="column-3">판매가</th>
                                    <th class="column-4">수량</th>
                                    <th class="column-5">쿠폰</th>
                                    <th class="column-6">주문금액</th>
                                </tr>

                                <tr class="table_row">
                                    <td class="column-1">
                                        <div class="how-itemcart1">
                                            <img src="https://kr1-api-object-storage.nhncloudservice.com/v1/AUTH_c20e3b10d61749a2a52346ed0261d79e/bookpub/product/thumbnail/03331c62-d8db-40c8-8f25-2f4160ad8122.png"
                                                 alt="IMG">
                                        </div>
                                    </td>

                                    <td class="column-2">어린왕자</td>
                                    <td class="column-3">7600 원</td>
                                    <td class="column-4"> 1</td>
                                    <td class="column-5">
                                        <button type="button"
                                                class="flex-c-m stext-101 cl2 size-112 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-10"
                                                data-toggle="modal" data-target="#exampleModalCenter">
                                            쿠폰 적용
                                        </button>

                                        <!-- Coupon Modal -->
                                        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                                             aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLongTitle">적용 가능 쿠폰 리스트</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <table class="table" style="text-align: center; vertical-align: middle;">
                                                            <thead>
                                                            <tr>
                                                                <th scope="col">선택</th>
                                                                <th scope="col">쿠폰명</th>
                                                                <th scope="col">할인율</th>
                                                                <th scope="col">할인금액</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <tr>
                                                                <td>
                                                                    <input style="margin-left: 45%; margin-top: 10%" type="radio"
                                                                           name="coupon" value="1">
                                                                </td>
                                                                <td>회원가입 축하 쿠폰</td>
                                                                <td>10%</td>
                                                                <td style="color: dodgerblue">760원</td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                                                        <button type="button" class="btn btn-dark">쿠폰 선택</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="column-6">7600 원</td>
                                </tr>

                                <tr class="table_row">
                                    <td class="column-1">
                                        <div class="how-itemcart1">
                                            <img src="https://kr1-api-object-storage.nhncloudservice.com/v1/AUTH_c20e3b10d61749a2a52346ed0261d79e/bookpub/product/thumbnail/2b0403e5-59fc-4e9e-a651-694928350447.png"
                                                 alt="IMG">
                                        </div>
                                    </td>
                                    <td class="column-2">자바 ORM - JPA 프로그래밍</td>
                                    <td class="column-3">37000 원</td>
                                    <td class="column-4"> 2</td>
                                    <td class="column-5">
                                        <button type="button"
                                                class="flex-c-m stext-101 cl2 size-112 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-10"
                                                data-toggle="modal" data-target="#couponModal">
                                            쿠폰 적용
                                        </button>

                                        <!-- Coupon Modal -->
                                        <div class="modal fade" id="couponModal" tabindex="-1" role="dialog"
                                             aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="modalTitle">
                                                            적용 가능 쿠폰 리스트</h5>

                                                        <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <table class="table-light">
                                                            <thead>
                                                            <tr>
                                                                <th>쿠폰명</th>
                                                                <th>할인율</th>
                                                                <th>할인금액</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <tr>
                                                                <td>10% 할인 쿠폰</td>
                                                                <td>10%</td>
                                                                <td><i class="fa-solid fa-piggy-bank"></i> 0원</td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                                data-dismiss="modal">취소
                                                        </button>
                                                        <button type="button" class="btn btn-dark">쿠폰 선택</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="column-6">74000 원</td>
                                </tr>
                            </table>
                        </div>

                        <div class="flex-w flex-sb-m bor15 p-t-18 p-b-15 p-lr-40 p-lr-15-sm">
                            <p class="stext-111 p-t-2" style="color: #760c0c;">
                                회원 - 쿠폰을 사용하여 구매할 경우 환불할 때 쿠폰은 환불되지 않습니다. <br/>
                                비회원 - 비회원은 쿠폰을 사용할 수 없습니다.
                            </p>
                        </div>

                        <div class="flex-w flex-sb-m bor15 p-t-18 p-b-15 p-lr-40 p-lr-15-sm">

                            <h4>주문자 정보</h4>

                            <input type="text" class="stext-104 cl2 plh4 size-116 bor13 p-lr-20 m-r-10 m-tb-5"
                                   placeholder="주문자 이름을 입력해주세요." name="saleOrderName"
                                   aria-placeholder="주문자 이름" aria-label="주문자 이름">

                            <input type="text" class="stext-104 cl2 plh4 size-116 bor13 p-lr-20 m-r-10 m-tb-5"
                                   placeholder="연락처를 '-'를 제외하고 입력해주세요." name="saleOrderContact"
                                   aria-placeholder="주문자 연락처" aria-label="주문자 연락처">

                        </div>

                        <div class="flex-w flex-sb-m bor15 p-t-18 p-b-15 p-lr-40 p-lr-15-sm">

                            <h4>수령자 정보</h4>

                            <input type="text" class="stext-104 cl2 plh4 size-116 bor13 p-lr-20 m-r-10 m-tb-5"
                                   placeholder="수령자 이름을 입력해주세요." name="saleReceiverName"
                                   aria-placeholder="수령자 이름" aria-label="수령자 이름">

                            <input type="text" class="stext-104 cl2 plh4 size-116 bor13 p-lr-20 m-r-10 m-tb-5"
                                   placeholder="연락처를 '-'를 제외하고 입력해주세요." name="saleReceiverContact"
                                   aria-placeholder="수령자 연락처" aria-label="수령자 연락처">
                        </div>

                        <div class="flex-w flex-sb-m bor15 p-t-18 p-b-15 p-lr-40 p-lr-15-sm">

                            <h4>배송 예약일</h4>
                            <span class="stext-111 cl6 p-t-2"> 예약일을 지정하지 않으면 2일 뒤로 지정됩니다. </span>

                            <input type="date" class="stext-104 cl2 plh4 size-115 bor13 p-lr-20 m-r-10 m-tb-"
                                   name="saleDeliveryDate" id="saleDeliveryDate" aria-label="배송 예약일">
                        </div>
                    </div>
                </div>


                <div class="col-sm-10 col-lg-7 col-xl-5 m-lr-auto m-b-50">
                    <div class="bor10 p-lr-40 p-t-30 p-b-40 m-l-63 m-r-40 m-lr-0-xl p-lr-15-sm">
                        <h4 class="mtext-109 cl2 p-b-30">
                            📦 Order Checkout
                        </h4>

                        <div class="flex-w flex-t bor12 p-t-15 p-b-30">
                            <div class="size-208 w-full-ssm">
								<span class="stext-110 cl2">
									배송 정보
								</span>
                            </div>

                            <div class="size-209 p-r-18 p-r-0-sm w-full-ssm">
                                <p class="stext-111 cl6 p-t-2">
                                    배송받으실 주소를 입력해주세요.
                                </p>

                                <div class="p-t-15">

                                    <div class="bor8 bg0 m-b-12">
                                        <input class="stext-111 cl8 plh3 size-111 p-lr-15" type="text" name="postcode"
                                               id="postcode" placeholder="우편번호">
                                    </div>

                                    <div class="bor8 bg0 m-b-12">
                                        <input class="stext-111 cl8 plh3 size-111 p-lr-15" type="text" name="address"
                                               id="address" placeholder="도로명/지번 주소">
                                    </div>

                                    <div class="bor8 bg0 m-b-12">
                                        <input class="stext-111 cl8 plh3 size-111 p-lr-15" type="text"
                                               name="detailAddress" id="detailAddress"
                                               placeholder="상세 주소">
                                    </div>

                                    <div class="bor8 bg0 m-b-22">
                                        <input class="stext-111 cl8 plh3 size-111 p-lr-15" type="text"
                                               name="detailAddress" id="extraAddress"
                                               placeholder="참고 항목 (선택)">
                                    </div>

                                    <div class="flex-w">
                                        <input type="button"
                                               class="flex-c-m stext-101 cl2 size-115 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer"
                                               value="주소 찾기" onclick="execDaumPostcode()">
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="flex-w flex-t p-t-27 p-b-33">
                            <div class="size-208">
								<span class="mtext-101 cl2">
									Total:
								</span>
                            </div>

                            <div class="size-209 p-t-1">
								<span class="mtext-110 cl2">
									$79.65
								</span>
                            </div>
                        </div>

                        <button class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer">
                            🧙🏻‍ 주문하기
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <!-- 쿠폰 적용 -->
    <script src="/js/sale-coupon.js"></script>
    <!-- Daum 주소 -->
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="/js/address.js"></script>
    <script>

        // 현재 날짜 기준으로 2일을 더한 날짜를 가져오는 함수
        function getDefaultDeliveryDate() {
            var today = new Date();
            var deliveryDate = new Date(today);

            // 최소 예약 배송일자는 현재 날짜 + 2일
            deliveryDate.setDate(deliveryDate.getDate() + 2);

            var dd = deliveryDate.getDate();
            var mm = deliveryDate.getMonth() + 1;
            var yyyy = deliveryDate.getFullYear();

            if (dd < 10) {
                dd = '0' + dd;
            }

            if (mm < 10) {
                mm = '0' + mm;
            }

            return yyyy + '-' + mm + '-' + dd;
        }

        function getMaxDeliveryDate() {
            var today = new Date();
            var deliveryDate = new Date(today);

            // 최대 예약 배송일자는 현재 날짜 + 59일
            deliveryDate.setDate(deliveryDate.getDate() + 59);

            var dd = deliveryDate.getDate();
            var mm = deliveryDate.getMonth() + 1;
            var yyyy = deliveryDate.getFullYear();

            if (dd < 10) {
                dd = '0' + dd;
            }

            if (mm < 10) {
                mm = '0' + mm;
            }

            return yyyy + '-' + mm + '-' + dd;
        }


        // 배송 날짜 input 요소의 최소, 최대 날짜를 설정하는 함수
        function setMinDeliveryDate() {
            var deliveryDateInput = document.getElementById('saleDeliveryDate');
            if (deliveryDateInput) {
                deliveryDateInput.value = getDefaultDeliveryDate();
                deliveryDateInput.min = getDefaultDeliveryDate();
                deliveryDateInput.max = getMaxDeliveryDate();
            }
        }


        // 문서가 로드되면 최소 배송 날짜를 설정합니다.
        window.onload = function () {
            setMinDeliveryDate();
        };
    </script>
</div>


</html>