<!DOCTYPE html>
<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">

<!-- 본문 내용 -->
<div layout:fragment="content">
    <style>

        table {
            text-align: center;
            vertical-align: middle;
        }

        td > input {
            margin-left: 30%;
            margin-top: 10%;
        }

        td > span {
            font-size: 14px;
            color: darkolivegreen;
        }

        .discount {
            color: dodgerblue;
        }

        .delivery-text {
            padding: 3% 3% 3% 3%;
            background-color: #444444;
            border-radius: 5px;
            color: #ffffff;
            position: absolute;
            display: none;
        }

        .delivery-title:hover + .delivery-text {
            display: block;
        }

    </style>

    <form action="#" th:action="@{/sale}" method="POST" class="bg0 p-t-75 p-b-85">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
                    <div class="m-l-25 m-r--38 m-lr-0-xl">
                        <div class="wrap-table-shopping-cart">
                            <table class="table-shopping-cart" style="text-align: center;">
                                <thead>
                                <tr class="table_head">
                                    <th class="column-sj-1"></th>
                                    <th class="column-sj-2">상품명</th>
                                    <th class="column-sj-3">판매가</th>
                                    <th class="column-sj-4">수량</th>
                                    <th class="column-sj-5">쿠폰</th>
                                    <th class="column-sj-6">주문금액</th>
                                    <th class="column-sj-7">🎁 포장지</th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr class="table_row" th:each="bookSale, iterStat : ${bookSaleList}">
                                    <input type="hidden" th:value="${bookSale.bookId}"
                                           th:name="|bookSaleList[${iterStat.index}].bookId|">
                                    <input type="hidden" th:id="${bookSale.bookId} + '-coupon'" th:value="0"
                                           th:name="|bookSaleList[${iterStat.index}].appliedCouponId|">
                                    <input type="hidden" th:value="${bookSale.quantity}" th:name="|bookSaleList[${iterStat.index}].quantity|">

                                    <td class="column-sj-1">
                                        <div class="how-itemcart1">
                                            <img src="https://kr1-api-object-storage.nhncloudservice.com/v1/AUTH_c20e3b10d61749a2a52346ed0261d79e/bookpub/product/thumbnail/03331c62-d8db-40c8-8f25-2f4160ad8122.png"
                                                 alt="IMG">
                                        </div>
                                    </td>

                                    <td class="column-sj-2" th:text="${bookSale.bookTitle}"></td>
                                    <td class="column-sj-3">
                                        <span th:text="${bookSale.bookSalePrice}"></span> 원
                                    </td>

                                    <!-- 장바구니에서 넘겨주는 수량 사용 -->
                                    <td class="column-sj-4" th:text="${bookSale.quantity}"></td>
                                    <td class="column-sj-5">
                                        <button type="button"
                                                class="flex-c-m stext-101 cl2 size-106 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-10"
                                                data-toggle="modal"
                                                th:attr="data-target='#applyCouponBtn-' + ${bookSale.bookId}"
                                                th:id="'couponBtn-' + ${bookSale.bookId}"
                                                th:onclick="|renderCoupon(${bookSale.bookId})|">
                                            쿠폰 선택
                                        </button>

                                        <button type="button"
                                                style="display: none;"
                                                class="flex-c-m stext-101 cl2 size-106 bg8 bor13 hov-cancel-btn p-lr-15 trans-04 pointer m-tb-10"
                                                th:id="'cancelApplyBtn-' + ${bookSale.bookId}"
                                                th:onclick="|cancelCoupon(${bookSale.bookId})|">
                                            쿠폰 취소
                                        </button>

                                        <!-- Coupon Modal -->
                                        <div class="modal fade" th:id="'applyCouponBtn-' + ${bookSale.bookId}"
                                             tabindex="-1" role="dialog"
                                             aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="applyCouponBtnTitle">적용 가능 쿠폰
                                                            리스트</h5>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <table class="table"
                                                               th:id="'couponTable-' + ${bookSale.bookId}">
                                                            <thead>
                                                            <tr>
                                                                <th scope="col"></th>
                                                                <th scope="col">쿠폰명</th>
                                                                <th scope="col">할인율 / 할인금액</th>
                                                                <th scope="col">할인금액</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <tr>
                                                                <td>라디오버튼</td>
                                                                <td>쿠폰명</td>
                                                                <td>할인율</td>
                                                                <td>할인금액</td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                                data-dismiss="modal">닫기
                                                        </button>
                                                        <button type="button" class="btn btn-dark"
                                                                th:id="'couponApplyBtn-' + ${bookSale.bookId}"
                                                                th:onclick="|applyCoupon(${bookSale.bookId})|">
                                                            쿠폰 적용
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="column-sj-6">
                                        <input type="hidden" th:id="${bookSale.bookId} + '-inputPrice'"
                                               th:value="${bookSale.bookSalePrice} * ${bookSale.quantity}"
                                               th:name="|bookSaleList[${iterStat.index}].paymentAmount|">
                                        <span th:id="${bookSale.bookId} + '-saleOrderPrice'" class="salePrice"
                                              th:text="${bookSale.bookSalePrice} * ${bookSale.quantity}"></span> 원
                                    </td>
                                    <td class="column-sj-7">
                                        <label>
                                            <select th:name="|bookSaleList[${iterStat.index}].packagingId|"
                                                    class="packaging form-control form-control-sm">
                                                <option selected value="0">선택 X</option>
                                                <option th:if="${bookSale.bookPackaging}"
                                                        th:each="packaging : ${policyList.getPackagingPolicies()}"
                                                        th:value="${packaging.packagingId}"
                                                        th:text="${packaging.packagingType} + ' / ' + ${packaging.packagingPrice} + '원'">
                                                </option>
                                            </select>
                                        </label>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="flex-w flex-sb-m bor15 p-t-18 p-b-15 p-lr-40 p-lr-15-sm">
                            <p class="stext-111 p-t-2" style="color: #760c0c;">
                                회원 - 쿠폰을 사용하여 구매할 경우 환불할 때 쿠폰은 환불되지 않습니다. <br/>
                                비회원 - 비회원은 쿠폰을 사용할 수 없습니다.
                            </p>
                        </div>

                        <div class="flex-w flex-sb-m bor15 p-t-18 p-b-15 p-lr-40 p-lr-15-sm">

                            <h4>주문자 정보</h4>

                            <input type="text" class="stext-104 cl2 plh4 size-116 bor13 p-lr-20 m-r-10 m-tb-5"
                                   placeholder="주문자 이름을 입력해주세요." name="saleOrderName"
                                   aria-placeholder="주문자 이름" aria-label="주문자 이름">

                            <input type="text" class="stext-104 cl2 plh4 size-116 bor13 p-lr-20 m-r-10 m-tb-5"
                                   placeholder="연락처를 입력해주세요. ('-' 제외)" name="saleOrderContact"
                                   aria-placeholder="주문자 연락처" aria-label="주문자 연락처">

                        </div>

                        <div class="flex-w flex-sb-m bor15 p-t-18 p-b-15 p-lr-40 p-lr-15-sm">

                            <h4>수령자 정보</h4>

                            <input type="text" class="stext-104 cl2 plh4 size-116 bor13 p-lr-20 m-r-10 m-tb-5"
                                   placeholder="수령자 이름을 입력해주세요." name="saleReceiverName"
                                   aria-placeholder="수령자 이름" aria-label="수령자 이름">

                            <input type="text" class="stext-104 cl2 plh4 size-116 bor13 p-lr-20 m-r-10 m-tb-5"
                                   placeholder="연락처를 입력해주세요. ('-' 제외)" name="saleReceiverContact"
                                   aria-placeholder="수령자 연락처" aria-label="수령자 연락처">
                        </div>

                        <div class="flex-w flex-sb-m bor15 p-t-18 p-b-15 p-lr-40 p-lr-15-sm">

                            <h4> 포인트 사용</h4>

                            <span style="margin-bottom: 20px;"> 보유중인 포인트 :
                                <span style="color: #13653f"> 15000</span> 원
                            </span>

                            <div class="input-group" style="vertical-align: middle">
                                <input id="memberPoint" type="number" value="0"
                                       class="stext-104 cl2 plh4 size-126 bor13 p-lr-20 m-r-10 m-tb-5"
                                       placeholder="사용할 포인트를 입력해주세요."
                                       aria-placeholder="포인트" aria-label="포인트">
                                <div class="input-group-append">
                                    <button class="stext-104 cl2 size-127 bg8 bor13 hov-btn3 p-lr-20 m-t-5 m-r-10 b-tb-5 trans-04 pointer"
                                            type="button"
                                            onclick="applyPoint()">포인트 사용
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="flex-w flex-sb-m bor15 p-t-18 p-b-15 p-lr-40 p-lr-15-sm">

                            <h4>배송 예약일</h4>
                            <span class="stext-111 cl6 p-t-2"> 예약일을 지정하지 않으면 2일 뒤로 지정됩니다. </span>

                            <input type="date" class="stext-104 cl2 plh4 size-115 bor13 p-lr-20 m-r-10 m-tb-"
                                   name="saleDeliveryDate" id="saleDeliveryDate" aria-label="배송 예약일">
                        </div>
                    </div>
                </div>


                <div class="col-sm-10 col-lg-7 col-xl-5 m-lr-auto m-b-50">
                    <div class="bor10 p-lr-40 p-t-30 p-b-40 m-l-63 m-r-40 m-lr-0-xl p-lr-15-sm">
                        <h4 class="mtext-109 cl2 p-b-30">
                            📦 Order Checkout
                        </h4>

                        <div class="  bor12 p-t-15 p-b-30">
                            <div class="size-208 w-full-ssm">
								<span class="stext-110 cl2">
									배송 정보
								</span>
                            </div>

                            <div class="p-r-18 p-r-0-sm w-full-ssm">
                                <p class="stext-111 cl6 p-t-2">
                                    배송받으실 주소를 입력해주세요.
                                </p>

                                <div class="p-t-15">

                                    <div class="bor8 bg0 m-b-12">
                                        <input class="stext-111 cl8 plh3 size-111 p-lr-15" type="text" th:name="postcode"
                                               id="postcode" placeholder="우편번호" readonly onclick="execDaumPostcode()">
                                    </div>

                                    <div class="bor8 bg0 m-b-12">
                                        <input class="stext-111 cl8 plh3 size-111 p-lr-15" type="text" th:name="address"
                                               id="address" placeholder="도로명/지번 주소" readonly
                                               onclick="execDaumPostcode()">
                                    </div>

                                    <div class="bor8 bg0 m-b-12">
                                        <input class="stext-111 cl8 plh3 size-111 p-lr-15" type="text"
                                               th:name="detailAddress" id="detailAddress"
                                               placeholder="상세 주소">
                                    </div>

                                    <div class="flex-w">
                                        <input type="button"
                                               class="flex-c-m stext-101 cl2 size-111 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer"
                                               value="주소 찾기" onclick="execDaumPostcode()">
                                    </div>

                                </div>
                            </div>
                        </div>


                        <div class="flex-w flex-t p-t-27 p-b-10">
                            <div class="size-208">
                                <span class="stext-117 cl2">
                                    배송비
                                    <span class="delivery-title">🚚</span>
                                    <span class="delivery-text">50,000원 이상 주문시 무료 배송</span>
                                </span>
                            </div>

                            <div class="size-209 p-t-1">
								<span class="stext-117 cl2">
                                    <input type="hidden" name="deliveryFee"
                                           th:id="deliveryFee"
                                           th:value="${policyList.getDeliveryPolicy().deliveryPolicyFee}">
									<span id="deliveryPrice"
                                          th:text="${policyList.getDeliveryPolicy().deliveryPolicyFee}"></span> 원
								</span>
                            </div>
                        </div>

                        <div class="flex-w flex-t p-t-10 p-b-10">
                            <div class="size-208">
								<span class="stext-117 cl2">
									포장 금액
								</span>
                            </div>

                            <div class="size-209 p-t-1">
								<span class="stext-117 cl2">
									<span id="totalPackagingPrice">0</span> 원
								</span>
                            </div>
                        </div>

                        <div class="flex-w flex-t p-t-10 p-b-10">
                            <div class="size-208">
								<span class="stext-117 cl2">
									도서 금액
								</span>
                            </div>

                            <div class="size-209 p-t-1">
								<span class="stext-117 cl2">
									<span id="totalOrderPrice">0</span> 원
								</span>
                            </div>
                        </div>

                        <div class="flex-w flex-t p-t-10 p-b-10">
                            <div class="size-208">
                                <span class="stext-117 cl2">
                                    쿠폰 할인
                                </span>
                            </div>

                            <div class="size-209 p-t-1">
                                <span class="discount stext-117 cl2">
									- <span id="totalCouponDiscount">0</span> 원
								</span>
                            </div>
                        </div>

                        <div class="flex-w flex-t p-t-10 p-b-10">
                            <div class="size-208">
                                <span class="stext-117 cl2">
                                    포인트 사용
                                </span>
                            </div>

                            <div class="size-209 p-t-1">
                                <input type="hidden" th:id="pointUsage" th:value="0" th:name="pointUsage">
                                <span class="discount stext-117 cl2">
									- <span id="pointDiscount">0</span> 원
								</span>
                            </div>
                        </div>


                        <div class="flex-w flex-t p-t-10 p-b-33">
                            <div class="size-208">
								<span class="stext-117 cl2">
									결제할 금액
								</span>
                            </div>

                            <div class="size-209 p-t-1">
								<span class="stext-117 cl2">
                                    <input type="hidden" th:name="totalPrice" th:id="totalSalePrice">
									<span id="totalPrice">0</span> 원
								</span>
                            </div>
                        </div>


                        <button type="submit"
                                class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer">
                            🧙🏻‍ 주문하기
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <!-- Daum 주소 -->
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="/js/address.js"></script>
    <script>

        // 현재 날짜 기준으로 2일을 더한 날짜를 가져오는 함수
        function getDefaultDeliveryDate() {
            var today = new Date();
            var deliveryDate = new Date(today);

            // 최소 예약 배송일자는 현재 날짜 + 2일
            deliveryDate.setDate(deliveryDate.getDate() + 2);

            var dd = deliveryDate.getDate();
            var mm = deliveryDate.getMonth() + 1;
            var yyyy = deliveryDate.getFullYear();

            if (dd < 10) {
                dd = '0' + dd;
            }

            if (mm < 10) {
                mm = '0' + mm;
            }

            return yyyy + '-' + mm + '-' + dd;
        }

        function getMaxDeliveryDate() {
            var today = new Date();
            var deliveryDate = new Date(today);

            // 최대 예약 배송일자는 현재 날짜 + 59일
            deliveryDate.setDate(deliveryDate.getDate() + 59);

            var dd = deliveryDate.getDate();
            var mm = deliveryDate.getMonth() + 1;
            var yyyy = deliveryDate.getFullYear();

            if (dd < 10) {
                dd = '0' + dd;
            }

            if (mm < 10) {
                mm = '0' + mm;
            }

            return yyyy + '-' + mm + '-' + dd;
        }


        // 배송 날짜 input 요소의 최소, 최대 날짜를 설정하는 함수
        function setMinDeliveryDate() {
            var deliveryDateInput = document.getElementById('saleDeliveryDate');
            if (deliveryDateInput) {
                deliveryDateInput.value = getDefaultDeliveryDate();
                deliveryDateInput.min = getDefaultDeliveryDate();
                deliveryDateInput.max = getMaxDeliveryDate();
            }
        }


        // 문서가 로드되면 최소 배송 날짜를 설정합니다.
        window.onload = function () {
            setMinDeliveryDate();
        };


    </script>

    <script th:inline="javascript">
        /*<![CDATA[*/
        let packagingPrices = new Map();
        packagingPrices.set(0, 0);
        /*[# th:each="packaging : ${policyList.getPackagingPolicies()}"]*/
        packagingPrices.set([[${packaging.packagingId}]], [[${packaging.packagingPrice}]]);
        /*[/]*/

        let freeDeliveryPrice = [[${policyList.getDeliveryPolicy().deliveryPolicyCondition}]];
        /*]]>*/


        // 주문 도서 금액 계산
        let totalOrderPrice = 0;
        let salePrice = document.querySelectorAll('.salePrice');

        salePrice.forEach(price => {
            totalOrderPrice += parseInt(price.innerText);
        })
        document.getElementById('totalOrderPrice').textContent = totalOrderPrice.toFixed(0);

        //-------------------------------

        // 배송 금액 계산
        let deliveryPriceElement = document.getElementById('deliveryPrice');
        let deliveryPrice = parseInt(deliveryPriceElement.innerText); // parseInt 추가
        if (totalOrderPrice >= freeDeliveryPrice) {
            deliveryPrice = 0;
            deliveryPriceElement.textContent = deliveryPrice;
        }

        document.getElementById('deliveryFee').value = deliveryPrice;

        //-------------------------------

        // 포장 금액 계산
        let selectedPackagingId = document.querySelectorAll('select.packaging');

        let totalPackagingPrice = 0;
        selectedPackagingId.forEach(selectElement => {
            totalPackagingPrice += packagingPrices.get(parseInt(selectElement.value));
        });

        selectedPackagingId.forEach(selectElement => {
            selectElement.addEventListener('change', function (event) {
                // 변경될 때마다 totalPrice 초기화
                totalPackagingPrice = 0;
                // 변경된 각 요소의 값을 totalPrice에 더함
                selectedPackagingId.forEach(selectElement => {
                    totalPackagingPrice += packagingPrices.get(parseInt(selectElement.value));
                });
                updateTotalPackagingPrice(totalPackagingPrice);
                updateTotalPrice(); // 포장 금액이 변경되었으므로 결제 총 금액을 다시 계산
            });
        });

        // 포장지 선택 시 금액을 업데이트하는 함수
        function updateTotalPackagingPrice(packagingPrice) {
            let totalPriceElement = document.getElementById('totalPackagingPrice');
            totalPriceElement.textContent = packagingPrice.toFixed(0);
        }

        //-------------------------------

        // 결제 총 금액 계산
        function updateTotalPrice() {
            let totalPrice = document.getElementById('totalPrice');
            let couponDiscount = parseInt(document.getElementById('totalCouponDiscount').textContent);
            let memberPoint = parseInt(document.getElementById('memberPoint').value);

            totalPrice.textContent = (totalOrderPrice + totalPackagingPrice + deliveryPrice - couponDiscount - memberPoint).toFixed(0);

            document.getElementById('totalSalePrice').value = totalPrice.textContent;
        }

        updateTotalPrice(); // 페이지 로드 시 결제 총 금액을 계산하여 업데이트

        //-------------------------------

        // 쿠폰 적용 시 쿠폰 할인 금액을 업데이트하는 함수
        function updateCouponDiscountPrice(bookId, discountPrice) {
            // 쿠폰 할인 금액 업데이트
            let totalCouponDiscountElement = document.getElementById('totalCouponDiscount');

            let totalCouponDiscount = parseInt(totalCouponDiscountElement.textContent);
            totalCouponDiscount += discountPrice;

            totalCouponDiscountElement.textContent = totalCouponDiscount;

            // 결제 총 금액 업데이트
            updateTotalPrice();
        }

        //-------------------------------

        // 포인트 사용시 총 금액을 업데이트하는 함수
        function applyPoint() {
            let applyMemberPoint = parseInt(document.getElementById('memberPoint').value);
            let holdingMemberPoint = 15000;
            console.log(applyMemberPoint);

            // 보유한 포인트보다 더 많이 사용하지 못해야 함.

            if (isNaN(applyMemberPoint)) {
                alert('사용할 포인트를 숫자로 입력해주세요.');
                return;
            } else if (applyMemberPoint > holdingMemberPoint) {
                alert('보유한 포인트보다 더 많이 사용할 수 없습니다.');
                return;
            } else if (applyMemberPoint < 0) {
                alert('0보다 작은 값을 입력할 수 없습니다.');
                return;
            }

            alert('포인트를 사용하였습니다.');

            document.getElementById('pointDiscount').textContent = applyMemberPoint;
            document.getElementById('pointUsage').value = applyMemberPoint;

            updateTotalPrice();
        }
    </script>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        let bookInfo = new Map();
        /*[# th:each="book : ${bookSaleList}"]*/
        bookInfo.set([[${book.bookId}]], [[${book}]]);
        /*[/]*/
        /*]]>*/
        console.log(bookInfo);
    </script>
    <script src="/js/coupon.js"></script>

</div>

</html>