<!DOCTYPE html>
<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">

<!-- 본문 내용 -->
<div layout:fragment="content">

    <form action="#" th:action="@{/}" class="bg0 p-t-75 p-b-85">

        <table class="table-shopping-cart">
            <tr class="table_head">
                <th class="column-1"></th>
                <th class="column-2">상품명</th>
                <th class="column-3">판매가</th>
                <th class="column-4">쿠폰 선택</th>
                <th class="column-5">할인 금액</th>
            </tr>

            <tr class="table_row">
                <td class="column-1">
                    <div class="how-itemcart1">
                        <img src="https://kr1-api-object-storage.nhncloudservice.com/v1/AUTH_c20e3b10d61749a2a52346ed0261d79e/bookpub/product/thumbnail/03331c62-d8db-40c8-8f25-2f4160ad8122.png"
                             alt="IMG">
                    </div>
                </td>

                <td class="column-2">어린왕자</td>
                <td class="column-3">7600 X 1 = 7600</td>
                <td class="column-4">
                    <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#exampleModalCenter">
                        쿠폰 적용
                    </button>

                    <!-- Coupon Modal -->
                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">적용 가능 쿠폰 리스트</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <table class="table" style="text-align: center; vertical-align: middle;">
                                        <thead>
                                        <tr>
                                            <th scope="col">선택</th>
                                            <th scope="col">쿠폰명</th>
                                            <th scope="col">할인율</th>
                                            <th scope="col">할인금액</th>
                                        </tr>
                                        </thead>
                                        <tbody >
                                        <tr>
                                            <td>
                                                <input style="margin-left: 45%; margin-top: 10%" type="radio" name="coupon" value="1">
                                            </td>
                                            <td>10% 할인 쿠폰</td>
                                            <td>10%</td>
                                            <td style="color: dodgerblue">760원</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                                    <button type="button" class="btn btn-dark">쿠폰 선택</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td class="column-5"></td>
            </tr>

            <tr class="table_row">
                <td class="column-1">
                    <div class="how-itemcart1">
                        <img src="https://kr1-api-object-storage.nhncloudservice.com/v1/AUTH_c20e3b10d61749a2a52346ed0261d79e/bookpub/product/thumbnail/2b0403e5-59fc-4e9e-a651-694928350447.png"
                             alt="IMG">
                    </div>
                </td>
                <td class="column-2">자바 ORM 표준 JPA 프로그래밍</td>
                <td class="column-3">37000 X 2 = 76000 원</td>
                <td class="column-4">
                    <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#exampleModalCenter">
                        쿠폰 적용
                    </button>

                    <!-- Coupon Modal -->
                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">적용 가능 쿠폰 리스트</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <table>
                                        <thead>
                                        <tr>
                                            <th>쿠폰명</th>
                                            <th>할인율</th>
                                            <th>할인금액</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>10% 할인 쿠폰</td>
                                            <td>10%</td>
                                            <td>$ 3.60</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                                    <button type="button" class="btn btn-dark">쿠폰 선택</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td class="column-5"></td>
            </tr>
        </table>

        <button class="flex-c-m stext-101 cl0 size-104 bg3 bor14" style="float: right; margin: 20px 20px" type="submit">
            쿠폰 적용
        </button>
    </form>
</div>
</html>