<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">

<!-- 본문 내용 -->
<div layout:fragment="content">
    <div class="container">
        <div class="row m-t-150 w-100">
            <div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
                <div class="m-l-25 m-r--38 m-lr-0-xl m-t-50">
                    <h2 class="h2"> 주문이 완료되었습니다 🥳 </h2>

                    <br/>
                    <div class="m-t-15 m-b-15">
                        <h4 class="p-b-5">주문 도서</h4>
                        <input type="text"
                               class="stext-104 cl2 plh4 size-116 bor13 p-lr-20 m-r-10 m-tb-5 text-center p-all-5"
                               th:value="${sale.saleTitle}" readonly>
                    </div>

                    <div class="m-t-15 m-b-15">

                        <h4>수령자</h4>
                        <input type="text"
                               class="stext-104 cl2 plh4 size-116 bor13 p-lr-20 m-r-10 m-tb-5 text-center p-all-5"
                               th:value="${sale.saleReceiverName}" readonly>
                    </div>
                    <div class="m-t-15 m-b-15">

                        <h4>수령자 번호</h4>
                        <input type="text"
                               class="stext-104 cl2 plh4 size-116 bor13 p-lr-20 m-r-10 m-tb-5 text-center p-all-5"
                               th:value="${sale.saleReceiverContact}" readonly>
                    </div>

                    <div class="m-t-15 m-b-15">
                        <h4>배송 주소</h4>
                        <input type="text"
                               class="stext-104 cl2 plh4 size-116 bor13 p-lr-20 m-r-10 m-tb-5 text-center p-all-5"
                               th:value="${sale.address}" readonly>
                    </div>

                    <div class="m-t-15 m-b-15">

                        <h4>결제 금액</h4>

                        <input type="text"
                               class="stext-104 cl2 plh4 size-116 bor13 p-lr-20 m-r-10 m-tb-5 text-center p-all-5"
                               th:value="|${sale.totalPrice}원|" readonly>

                        <form action="#" method="get" th:action="@{'/payment/' + ${sale.saleNumber}}">
                            <button class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer">
                                🚀 결제하기
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>