<!DOCTYPE html>
<html lang="ko">

<!-- header -->
<div th:replace="fragments/admin-header.html :: admin-fragment-header"></div>

<!-- body -->
<body class="sb-nav-fixed" style="font-family: 'Noto Sans KR', sans-serif;">
<div th:replace="fragments/admin-nav.html :: admin-fragment-nav"></div>
<div th:replace="fragments/admin-sidebar.html :: admin-fragment-sidebar"></div>

<!-- 본문 내용 -->
<div id="layoutSidenav">
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4" style="margin-bottom: 50px;">포장 정책 페이지</h1>

                <!-- 포장지 정책 등록 폼 -->
                <form method="post" th:action="@{/admin/policy/packaging}">

                    <div class="w-25 col" style="margin-bottom: 10px;">
                        <input aria-label="packagingType" class="form-control" placeholder="포장지 타입"
                               style="padding: 10px"
                               th:name="packagingType"
                               type="text">
                    </div>
                    <br/>

                    <div class="w-25 col">
                        <input aria-label="packagingPrice" class="form-control" placeholder="포장지 가격"
                               required
                               style="padding: 10px"
                               th:name="packagingPrice" type="text">
                    </div>
                    <br/>

                    <button class="btn btn-outline-primary" type="submit">등록</button>
                </form>
            </div>
        </main>


        <!-- footer -->
        <footer th:replace="fragments/admin-footer.html :: admin-fragment-footer"></footer>
    </div>
</div>
</body>
</html>
