<!DOCTYPE html>
<html lang="ko">

<!-- header -->
<div th:replace="fragments/admin-header :: admin-fragment-header"></div>

<!-- body -->
<body class="sb-nav-fixed" style="font-family: 'Noto Sans KR', sans-serif;">
<div th:replace="fragments/admin-nav :: admin-fragment-nav"></div>
<div th:replace="fragments/admin-sidebar :: admin-fragment-sidebar"></div>

<!-- 본문 내용 -->
<div id="layoutSidenav">
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">포장 정책 페이지</h1>

                <button type="button" class="btn btn-outline-dark" style="float: right; margin-bottom: 30px;"
                        th:onclick="|location.href='/admin/policy/packaging/create'|">
                    정책 추가
                </button>

                <table class="table table-hover" style="text-align: center; vertical-align: middle;">
                    <thead>
                    <tr>
                        <th scope="col">포장 정책 ID</th>
                        <th scope="col">포장지 종류</th>
                        <th scope="col">포장지 가격</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1</td>
                        <td>리본</td>
                        <td>3000</td>
                        <td>
                            <button style="margin-bottom: 5px;" type="button" class="btn btn-outline-warning">
                                <!--                                th:onclick="|location.href='/admin/policy/delivery/${deliveryPolicy.deliveryPolicyId}'|">-->
                                수정
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </main>

        <!-- footer -->
        <footer th:replace="fragments/admin-footer :: admin-fragment-footer"></footer>
    </div>
</div>
</body>
</html>
