.new-book-banner {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-bottom: 15px;
    margin-top: 15px;
    height: 10vh;
    display: flex;
    align-items: center;
}


.new-book-banner .title {
    display: inline-block;
    text-transform: uppercase;
    margin: 0px;
    font-size: 30px;
    line-height: 24px;
    letter-spacing: -0.01em;
    font-weight: 700;
    padding: 5px 14px;
    vertical-align: bottom;
}

.new-book-banner .title-enter {
    display: inline-block;
    text-transform: uppercase;
    margin: 0px;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: -0.01em;
    font-weight: 700;
    padding: 5px 14px;
    vertical-align: bottom;
}

.col-12 {
    flex: 0 0 auto;
    width: 25%;
}

img {
    width: 100%;
}

.product {
    border: 1px solid #dee2e6;
    border-radius: 8px;
    overflow: hidden;
    transition: all 0.3s ease;
    height: 100%;
}

.product:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.product-image {
    position: relative;
    overflow: hidden;
    height: 400px;
}

.product-image img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
    object-fit: cover;
}

.product-image img:hover {
    transform: scale(1.1);
}

.product-info {
    padding: 20px;
}

.category {
    font-size: 14px;
    color: #6c757d;
}

.title {
    font-size: 18px;
    margin-top: 10px;
}

.title-enter {
    font-size: 15px;
    margin-top: 10px;
}

.title a {
    color: #343a40;
    transition: color 0.3s ease;
}
.title-enter a {
    color: #343a40;
    transition: color 0.3s ease;
}

.title a:hover {
    color: #007bff;
    text-decoration: none;
}
.title-enter a:hover {
    color: #007bff;
    text-decoration: none;
}

.review {
    list-style: none;
    margin: 10px 0;
    padding: 0;
}

.review i {
    color: #ffc107;
    font-size: 16px;
}

.price {
    font-size: 20px;
    color: #28a745;
    margin-top: 10px;
}

.button {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.button button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button button:hover {
    background-color: #0056b3;
}

.badge_list_box {
    position: absolute;
    top: 15px;
    right: 15px;
}

.badge_md {
    display: inline-block;
    padding: 4px 8px;
    background-color: #007bff; /* 배경색상 지정 */
    color: #ffffff; /* 글자색상 지정 */
    font-size: 14px; /* 원하는 크기로 조절 */
    font-weight: normal;
    margin-right: 5px; /* 원하는 여백으로 조절 */
}

.prod_price {
    margin-top: 20px;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: auto;
    padding-left: 0px;
    padding-right: 0px;
}

.carousel-container {
    overflow: hidden;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    flex: 0 0 auto;
    margin-right: 15px;
}

.hero-header {
    background: linear-gradient(
            rgba(248, 223, 173, 0.1),
            rgba(248, 223, 173, 0.1)),
            url(../images/main/background-img-v2.jpg) no-repeat center center;
    background-size: cover;
}

.pt-5, .py-5 {
    padding-top: 5rem !important;
}
.text-primary {
    color: #000000 !important;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #747d88;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* 캐러셀 전체 구조  */
.carousel_main {
    width: 550px; /* 이미지 크기 설정  */
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    user-select: none;
}

.carousel_wrapper {
    display: flex;
    transition: transform 1s;
}

.carousel_slide {
    flex: 0 0 550px; /* 이미지 크기 설정  */
    position: relative;
}

.carousel_slide img {
    display: flex;
    width: 550px;
    height: 330px;
    object-fit: cover;
}

.carousel_button_container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.carousel_button {
    width: 50px;
    height: 50px;
    color: #fff;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.carousel_prev {
    background-color: rgba(0, 0, 0, 0.3);
    border: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.carousel_next {
    background-color: rgba(0, 0, 0, 0.3);
    border: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* 캐러셀 중앙 버튼 */
.carousel_pagination {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.carousel_circle {
    width: 10px;
    height: 10px;
    background-color: #aaa;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.carousel_circle.active {
    background-color: #333;
}

.text-primary {
    color: #343232 !important;
}
@media (min-width: 1200px)
.display-3 {
    font-size: 4rem;
}
h1 {
    display: block;
    font-size: 5em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-family: "Raleway", sans-serif;
    text-shadow: 2px 4px 2px gray;
}

.display-3 {
    font-size: calc(1.525rem + 3.3vw);
    font-weight: 800;
    line-height: 1.2;
}
