.snb_link {
    color: #000;
    display:inline-block;
    margin:0;
    text-transform:uppercase; }
.snb_link:after {
    display:block;
    content: '';
    border-bottom: solid 3px #9edab4;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}
.snb_link:hover:after { transform: scaleX(1); }
.snb_link.fromRight:after{ transform-origin:100% 50%; }
.snb_link.fromLeft:after{  transform-origin:  0% 50%; }