#layoutSidenav {
    /*height: 100%;*/
}

.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    font-weight: 500;
    border: 1px solid black;
}

.normal {
    color: whitesmoke;
    border: 1px solid #c7a356;
    background-color: #c7a356;
}

.royal {
    color: whitesmoke;
    border: 1px solid #4169e1;
    background-color: #4169e1;
}

.gold {
    border: 1px solid #ffd700;
    background-color: #ffd700;
}

.platinum {
    color: whitesmoke;
    border: 1px solid #e5e4e2;
    background-color: #e5e4e2;
}

.memberName {
    margin-left: 5px;
    color: #4eabb5
}

.my-page-content {
    width: 100%;
    height: 80%;
}

.my-page-body {
    margin-left: 10px;
}

.my-page-header {
    padding: 15px;
    border-bottom: 2px solid #F5F5F5;
}

.my-page-header-nav {
    margin-top: 30px;
    display: flex;
}

.my-page-header-nav_element {
    margin-left: 30px;
    margin-right: 50px;
}

a {
    color: inherit;
    text-decoration: none;
}

h1 {
    margin-left: 30px;
}

.list_result_wrap {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: end;
    -moz-box-align: end;
    -ms-flex-align: end;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
}