<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mypage-default}">

<div layout:fragment="mypage-content">

    <div class="m-t-20 m-l-20 m-r-20">
        <h2 class="m-3">🧙🏻‍♂️ 주문 내역 조회</h2>
        <p class="float-r m-r-30" style="color: darkred"> 주문 상세 내역을 조회하고 싶으시다면, 주문 번호를 클릭해주세요.</p>

        <table class="w-100 table table-hover" style="text-align: center; vertical-align: middle;">
            <thead>
            <tr>
                <th scope="col">상품 정보</th>
                <th scope="col">주문 번호</th>
                <th scope="col">총 결제 금액</th>
                <th scope="col">주문 일자</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="sale : ${saleList}">
                <td>
                    <a th:text="${sale.saleTitle}"></a>
                </td>
                <td><a th:text="${sale.saleNumber}"
                       th:href="@{/member/mypage/order/{saleNumber}(saleNumber=${sale.saleNumber})}"></a></td>
                <td th:text="${#numbers.formatInteger(sale.totalPrice, 3, 'COMMA')} + '원'"></td>
                <td th:text="${#temporals.format(sale.saleDate, 'yyyy-MM-dd')}"></td>
            </tr>
            </tbody>
        </table>

        <nav aria-label="Page navigation example" th:if="${not #lists.isEmpty(saleList)}">
            <ul class="pagination justify-content-center">
                <li class="page-item" th:classappend="${pageInfo.page == 0 ? 'disabled' : ''}">
                    <a class="page-link" th:href="@{/member/mypage/order-list(page=0)}" tabindex="-1"
                       aria-disabled="true">&lt;&lt;</a>
                </li>

                <li class="page-item" th:each="num : ${#numbers.sequence(0, pageInfo.totalPages - 1)}">
                    <a class="page-link" th:href="@{/member/mypage/order-list(page=${num})}" th:text="${num + 1}"
                       th:classappend="${num == pageInfo.page ? 'active' : ''}"></a>
                </li>

                <li class="page-item" th:classappend="${pageInfo.page == pageInfo.totalPages - 1 ? 'disabled' : ''}">
                    <a class="page-link" th:href="@{/member/mypage/order-list(page=${pageInfo.totalPages - 1})}">&gt;&gt;</a>
                </li>
            </ul>
        </nav>

    </div>
</div>
</html>