<!DOCTYPE html>
<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">


<!-- 본문 내용 -->
<div layout:fragment="content">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="imagetoolbar" content="no">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="format-detection" content="telephone=no">
        <meta name="title" content="웹사이트">
        <meta name="description" content="웹사이트입니다.">
        <meta name="keywords" content="키워드,키워드,키워드">
        <meta property="og:title" content="웹사이트">
        <meta property="og:description" content="웹사이트입니다">
        <meta property="og:image" content="https://웹사이트/images/opengraph.png">
        <meta property="og:url" content="https://웹사이트">
        <title>첫페이지 | ckin</title>
        <link rel="stylesheet" href="/css/setting.css">
        <link rel="stylesheet" href="/css/plugin.css">
        <link rel="stylesheet" href="/css/template.css">
        <link rel="stylesheet" href="/css/common.css">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/main-initial.css">
    </head>

    <body>
    <main class="container_wrapper">
        <section id="contents" class="contents_wrap aside">
            <h1 class="hidden">국내도서</h1>
            <div class="contents_inner">
                <aside class="aside_wrap sub_category">
                    <div class="aside_header">
                        <div class="title_wrap title_size_xxl">
                            <a href="#" class="title_heading" th:text="${categoryName}"></a>
                        </div>
                    </div>
                    <div class="aside_body">
                        <div class="snb_wrap">
                            <ul class="snb_list">
                                <li class="snb_item" th:each="category : ${categoryList}">
                                    <a th:href="@{'/product/' + ${category.categoryId}}" class="snb_link"
                                       th:text="${category.categoryName}">
                                    </a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </aside>
                <section id="contents2" class="section_wrap">
                    <div class="tab_wrap type_line ui-tabs ui-corner-all ui-widget ui-widget-content">
                        <div id="homeTab" class="tab_content ui-tabs-panel ui-corner-bottom ui-widget-content"
                             aria-labelledby="ui-id-41"
                             role="tabpanel" aria-hidden="true" style="">
                            <div class="showcase_template_wrap">
                                <div class="template_row">
                                    <div class="template_col">
                                        <div class="title_wrap title_size_md">
                                            <h2 class="hidden">믿고 읽는! 오늘의 선택</h2>
                                            <p class="title_heading">믿고 읽는! 오늘의 선택</p>
                                        </div>
                                        <ul class="prod_row_list has_line col2">
                                            <li class="prod_item" th:each="book : ${pagination.content}">
                                                <div class="prod_area horizontal">
                                                    <div class="prod_thumb_box size_lg">
                                                        <a th:href="@{'/product/' + ${book.bookId}}" class="prod_link">
                                        <span class="img_box">
                                            <img data-kbbfn="s3-image" alt="" loading="lazy"
                                                 th:src="${book.thumbnail}"
                                                 th:data-src="${book.thumbnail}">
                                         </span>
                                                        </a>
                                                    </div>

                                                    <div class="prod_info_box">
                                                        <a th:href="@{'/product/view/' + ${book.bookId}}"
                                                           class="prod_info">
                                                            <h3 class="prod_name" th:text="${book.bookTitle}"></h3>
                                                        </a>

                                                        <span class="prod_author"
                                                              th:text="${book.authorNames.get(0)}"></span>

                                                        <div class="prod_price">
                                                            <span class="percent"
                                                                  th:text="${book.bookDiscountRate} + '%'"></span>
                                                            <span class="price">
                                                                <span class="val"
                                                                      th:text="${#numbers.formatInteger(book.bookSalePrice, 3, 'COMMA')} + '원'"></span>
                                                                <span class="price_normal"><span
                                                                        class="text">정가</span>
                                                                    <s class="val"
                                                                       th:text="${#numbers.formatInteger(book.bookRegularPrice, 3, 'COMMA')} + '원'"></s></span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                        <span class="swiper-notification" aria-live="assertive"
                                              aria-atomic="true"></span></div>
                                </div>
                            </div>
                        </div>

                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center">
                                <li class="page-item" th:classappend="${!(pagination.number > 0)} ? 'disabled'">
                                    <a class="page-link"
                                       th:href="@{'/product/' + ${categoryId}(page=${pagination.number - 1})}">Previous</a>
                                </li>
                                <th:block
                                        th:with="start=1, end=${(pagination.totalPages == 0) ? 1 : pagination.totalPages}">
                                    <li class="page-item" th:each="page: ${#numbers.sequence(start, end)}">
                                        <a class="page-link"
                                           th:href="@{'/product/' + ${categoryId}(page=${page - 1})}"
                                           th:text="${page}"></a></li>
                                </th:block>
                                <li class="page-item"
                                    th:classappend="${!(pagination.number < pagination.totalPages - 1)} ? 'disabled'">
                                    <a class="page-link"
                                       th:href="@{'/product/' + ${categoryId}(page=${pagination.getNumber()+1})}">Next</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </section>
            </div>
        </section>
    </main>
    </body>
</div>
</html>