<!DOCTYPE html>
<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">


<!-- 본문 내용 -->
<div layout:fragment="content">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="imagetoolbar" content="no">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="format-detection" content="telephone=no">
        <meta name="title" content="웹사이트">
        <meta name="description" content="웹사이트입니다.">
        <meta name="keywords" content="키워드,키워드,키워드">
        <meta property="og:title" content="웹사이트">
        <meta property="og:description" content="웹사이트입니다">
        <meta property="og:image" content="https://웹사이트/images/opengraph.png">
        <meta property="og:url" content="https://웹사이트">
        <title>첫페이지 | ckin</title>
        <link rel="stylesheet" href="/css/setting.css">
        <link rel="stylesheet" href="/css/plugin.css">
        <link rel="stylesheet" href="/css/template.css">
        <link rel="stylesheet" href="/css/common.css">
        <link rel="stylesheet" href="/css/style.css">
    </head>

    <body>
    <main class="th-layout-main ">
        <!-- [S]opilsol-N5 -->
        <div class="opilsol-N5" data-bid="gSLTFQb4Tx" id="">
            <div class="content-container">
                <div class="container-md">
                    <div class="textset">
                        <h2 class="textset-tit">카테고리 이름</h2>
                        <p class="textset-desc h5">국내도서 &gt; 소설 &gt; 인문</p>
                    </div>
                </div>
                <div class="container-md">
                    <div class="slide-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a class="cardset cardset-border" href="javascript:void(0);">
                                    <figure class="cardset-figure">
                                        <img class="cardset-img" src="/images/tmp/m-sec1-img-1.jpg" alt="이미지">
                                    </figure>
                                    <div class="cardset-body">
                                        <h5 class="cardset-tit">스포츠센터</h5>
                                        <p class="cardset-desc">컴퓨터에서 동작하는 프로그램이나 어플리케이션</p>
                                        <span class="btnset btnset-text btnset-icon icon-right btnset-sm">자세히보기</span>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a class="cardset cardset-border" href="javascript:void(0);">
                                    <figure class="cardset-figure">
                                        <img class="cardset-img" src="/images/tmp/m-sec1-img-2.jpg" alt="이미지">
                                    </figure>
                                    <div class="cardset-body">
                                        <h5 class="cardset-tit">공공 체육문화시설</h5>
                                        <p class="cardset-desc">소프트웨어를 이용하여 문제를 해결하거나 비즈니스 목적을 달성하기 위한 솔루션소프트웨어를 이용하여
                                            문제를 해결하거나 비즈니스</p>
                                        <span class="btnset btnset-text btnset-icon icon-right btnset-sm">자세히보기</span>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a class="cardset cardset-border" href="javascript:void(0);">
                                    <figure class="cardset-figure">
                                        <img class="cardset-img" src="/images/tmp/m-sec1-img-3.jpg" alt="이미지">
                                    </figure>
                                    <div class="cardset-body">
                                        <h5 class="cardset-tit">아파트 커뮤니티</h5>
                                        <p class="cardset-desc">컴퓨터에서 동작하는 프로그램이나 어플리케이션</p>
                                        <span class="btnset btnset-text btnset-icon icon-right btnset-sm">자세히보기</span>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a class="cardset cardset-border" href="javascript:void(0);">
                                    <figure class="cardset-figure">
                                        <img class="cardset-img" src="/images/tmp/m-sec1-img-4.jpg" alt="이미지">
                                    </figure>
                                    <div class="cardset-body">
                                        <h5 class="cardset-tit">모바일 솔루션</h5>
                                        <p class="cardset-desc">컴퓨터에서 동작하는 프로그램이나 어플리케이션</p>
                                        <span class="btnset btnset-text btnset-icon icon-right btnset-sm">자세히보기</span>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a class="cardset cardset-border" href="javascript:void(0);">
                                    <figure class="cardset-figure">
                                        <img class="cardset-img" src="/images/tmp/m-sec1-img-1.jpg" alt="이미지">
                                    </figure>
                                    <div class="cardset-body">
                                        <h5 class="cardset-tit">스포츠센터</h5>
                                        <p class="cardset-desc">컴퓨터에서 동작하는 프로그램이나 어플리케이션</p>
                                        <span class="btnset btnset-text btnset-icon icon-right btnset-sm">자세히보기</span>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a class="cardset cardset-border" href="javascript:void(0);">
                                    <figure class="cardset-figure">
                                        <img class="cardset-img" src="/images/tmp/m-sec1-img-2.jpg" alt="이미지">
                                    </figure>
                                    <div class="cardset-body">
                                        <h5 class="cardset-tit">공공 체육문화시설</h5>
                                        <p class="cardset-desc">소프트웨어를 이용하여 문제를 해결하거나 비즈니스 목적을 달성하기 위한 솔루션소프트웨어를 이용하여
                                            문제를 해결하거나 비즈니스</p>
                                        <span class="btnset btnset-text btnset-icon icon-right btnset-sm">자세히보기</span>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a class="cardset cardset-border" href="javascript:void(0);">
                                    <figure class="cardset-figure">
                                        <img class="cardset-img" src="/images/tmp/m-sec1-img-3.jpg" alt="이미지">
                                    </figure>
                                    <div class="cardset-body">
                                        <h5 class="cardset-tit">아파트 커뮤니티</h5>
                                        <p class="cardset-desc">컴퓨터에서 동작하는 프로그램이나 어플리케이션</p>
                                        <span class="btnset btnset-text btnset-icon icon-right btnset-sm">자세히보기</span>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a class="cardset cardset-border" href="javascript:void(0);">
                                    <figure class="cardset-figure">
                                        <img class="cardset-img" src="/images/tmp//m-sec1-img-4.jpg" alt="이미지">
                                    </figure>
                                    <div class="cardset-body">
                                        <h5 class="cardset-tit">모바일 솔루션</h5>
                                        <p class="cardset-desc">컴퓨터에서 동작하는 프로그램이나 어플리케이션</p>
                                        <span class="btnset btnset-text btnset-icon icon-right btnset-sm">자세히보기</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-control">
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <div class="opilsol-N18" data-bid="SRLtFqtrnL">
        <div class="content-container">
            <div class="container-md">
                <div class="content-desc">
                    <h2 class="textset-tit acc-txt"> 서비스 소개 </h2>
                    <p class="textset-desc ht-xs"> 커뮤니티 솔루션은 아파트 주민들의 생활을 편리하고 원활하게 관리하기 위한 종합적인 솔루션입니다. </p>
                </div>
                <div>
                    <div class="col-group" id="infinite-scroll-container">
                        <th:block th:each="book : ${bookList}">
                            <div class="item">
                                <div class="cardset">
                                    <figure class="cardset-figure">
                                        <img class="cardset-img pc-img" th:src="${book.image}" alt="이미지">
                                        <img class="cardset-img mobile-img" th:src="${book.image}" alt="이미지">
                                    </figure>
                                    <div class="cardset-body">
                                        <h3 class="cardset-tit" th:value="${book.price}"></h3>
                                        <p class="cardset-desc" th:value="${book.description}"></p>
                                    </div>
                                </div>
                            </div>
                        </th:block>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- [E]opilsol-N18 -->
    <script src="/js/setting.js"></script>
    <script src="/js/plugin.js"></script>
    <script src="/js/template.js"></script>
    <script src="/js/script.js"></script>
    <script>

    </script>
    </body>
</div>
</html>