<!DOCTYPE html>
    <html lang="en"
          xmlns:th="http://www.thymeleaf.org"
          xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <header class="header-v4 my-page-header" th:fragment="mypage-fragment-header">
        <h1 class="mt-4" th:text="${member.name + '님 환영합니다!'}"></h1>

        <div class="my-page-header-nav">
            <div class="my-page-header-nav_element">
                <div class="d-flex justify-content-center">
                    <span>나의 CKIN 등급</span>
                    <span class="memberName" th:text="${' ' + member.gradeName}"></span>
                </div>
                <div class="d-flex justify-content-center">
                    <div class="circle" th:classappend="${member.gradeName == '일반' ? 'normal' : ''}">Normal</div>
                    <div class="circle" th:classappend="${member.gradeName == '로얄' ? 'royal' : ''}">Royal</div>
                    <div class="circle" th:classappend="${member.gradeName == '골드' ? 'gold' : ''}">Gold</div>
                    <div class="circle" th:classappend="${member.gradeName == '플래티넘' ? 'platinum' : ''}">Platinum</div>
                </div>
            </div>

            <div class="my-page-header-nav_element">
                <a href="#" style="text-decoration: none; color: black; display: flex; justify-content: center;">
                    <div>
                        <div><span class="material-symbols-sharp" style="color: black;">local_parking</span></div>
                        <div style="color: black;">
                            <span>포인트</span>
                            <i class="fas fa-angle-right"></i>
                        </div>
                        <div th:text="${member.point}" style="color: black;"></div>
                    </div>
                </a>
            </div>

            <div class="my-page-header-nav_element">
                <a href="#" style="text-decoration: none; color: black; display: flex; justify-content: center;">
                    <div>
                        <div><span class="material-symbols-sharp" style="color: black;">local_activity</span></div>
                        <div style="color: black;">
                            <span>보유쿠폰</span>
                            <i class="fas fa-angle-right"></i>
                        </div>
                        <div th:text="${member.countReview}" style="color: black;"></div>
                    </div>
                </a>
            </div>
        </div>
    </header>
</html>