<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>home</title>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    window.onload = function () {
        const message = document.getElementById('alertMsg').value;
        const type = document.getElementById('alertType').value;
        const redirectUrl = document.getElementById('alertUrl').value;
        Swal.fire({
            icon: type,                         // Alert 타입
            title: '알림',         // Alert 제목
            text: message,  // Alert 내용

        }).then(
            function () {
                window.location.href = redirectUrl;	// 이동하는 페이지
            }
        )
    };
</script>
<input type="hidden" id="alertType" name="alertType" th:value="${ALERT_TYPE}"/>
<input type="hidden" id="alertMsg" name="alertMsg" th:value="${ALERT_MSG}"/>
<input type="hidden" id="alertUrl" name="alertUrl" th:value="${ALERT_URL}"/>
</html>