<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <script>
        window.onload = function () {
            const message = document.getElementById('alertMsg').value;
            const type = document.getElementById('alertType').value;
            const redirectUrl = document.getElementById('alertUrl').value;
            Swal.fire({
                icon: type,                         // Alert 타입
                title: '알림',         // Alert 제목
                text: message,  // Alert 내용
            });
            window.location.replace(redirectUrl);	// 이동하는 페이지
        };
    </script>
</head>
<body>
<input type="hidden" id="alertMsg" name="alertMsg" th:value="${alertMsg}"/>
<input type="hidden" id="alertUrl" name="alertUrl" th:value="${alertUrl}"/>
<input type="hidden" id="alertType" name="alertType" th:value="${alertType}"/>

</body>
</html>