<!DOCTYPE html>
<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">

<meta charset="UTF-8"><!-- 본문 내용 -->
<head>
    <title>CKIN | 오류가 발생했습니다</title>
</head>
<div layout:fragment="content">
    <main class="main-error" style="height: 60vh !important;">
        <div class="error-wrap">
            <img src="/images/error.png" alt="IMG-LOGO">
            <label class="label-header">찾을 수 없는 페이지입니다.</label>
            <label class="label-contents">입력하신 주소를 찾을 수 없거나, 오류가 발생하였습니다.</label>
            <button onclick="location.href='/'" class="btn-hover color-8">홈으로 이동하기</button>
        </div>
    </main>
</div>
</html>