<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>체크인 | 에러가 발생하였습니다</title>
    <style>
        body {
            margin: 0 auto;
            justify-content: center;
            background-color: #F4EADF;
        }
        img {
            width: 50%;
            height: auto;
            display: block;
            margin: 0 auto;
        }
        div {
            margin-bottom: 100px;
        }
    </style>
</head>
<body>
<div></div>
<img src="https://i.ibb.co/4JS0WjH/error-404.jpg" alt="error-404" border="0">
</body>
</html>
