<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
    <meta charset="UTF-8">
    <title>Coupon</title>
    <!-- Add your CSS and other head elements here -->

</head>

<h1><strong>Coupon</strong></h1>
<div layout:fragment="content" id="layoutSidenav_content">
<!--    <link rel="stylesheet" href="/css/coupon.css">-->
    <link rel="stylesheet" href="/css/event.css">


    <br>
    <div class="main-event">
        <img src="/images/main/event/event-img.png" alt="#">

    </div>
<!--    <div class="fade-in-box">-->
<!--        <img class="cover" src="/images/main/event/005.png" alt="#">-->
<!--    </div>-->


    <script src="/js/main-coupon.js"></script>

</div>


</footer>
</html>
