<!DOCTYPE html>
<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">

<head>
    <link rel="stylesheet" href="/css/setting.css">
    <link rel="stylesheet" href="/css/plugin.css">
    <link rel="stylesheet" href="/css/template.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/style.css">
    <style>
        .main-image {
            display: flex;
            justify-content: center;
        }
    </style>
</head>

<!-- 본문 내용 -->
<div layout:fragment="content">


    <div class="main-image m-t-100">
        <div>
            <img src="/images/main-banner.jpg" class="d-block mx-auto" alt="..." style="width: 85%; height: 85%">
        </div>
    </div>
    <!-- Banner -->
    <div class="sec-banner bg0 p-t-0 p-b-50">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-xl-4 p-b-30 m-lr-auto">
                    <!-- Block1 -->
                    <div class="block1 wrap-pic-w">
                        <a th:href="@{/product/1}">
                            <img class="img-banner" height="25%" src="/images/001.jpg" alt="IMG-BANNER">
                        </a>
                    </div>
                </div>

                <div class="col-md-6 col-xl-4 p-b-30 m-lr-auto">
                    <!-- Block1 -->
                    <div class="block1 wrap-pic-w">
                        <a th:href="@{/product/2}">
                            <img class="img-banner" height="25%" src="/images/002.jpg" alt="IMG-BANNER">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/setting.js"></script>
<script src="/js/plugin.js"></script>
<script src="/js/template.js"></script>
<script src="/js/script.js"></script>
</html>
