<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin-default}">

<!-- 본문 내용 -->
<div layout:fragment="admin-content" id="layoutSidenav_content">
    <div class="container-fluid px-4">
        <h1 class="mt-4">Welcome 쿠폰 템플릿</h1>
        <div>
            <button type="button" class="btn btn-primary" style="float: right; margin-bottom: 30px;"
                    data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                쿠폰 템플릿 추가
            </button>
        </div>
        <style>
            .text-danger {
                color: red;
            }

            .text-primary {
                color: blue;
            }


        </style>


        <table class="table table-hover" style="text-align: center; vertical-align: middle;">
            <thead>
            <tr>
                <th scope="col">쿠폰 템플릿 ID</th>
                <th scope="col">쿠폰 정책 ID</th>
                <th scope="col">할인 금액</th>
                <th scope="col">할인률</th>
                <th scope="col">최대 할인 금액</th>
                <th scope="col">최소 주문 금액</th>
                <th scope="col">쿠폰 템플릿 이름</th>
                <th scope="col">사용기한</th>
                <th scope="col">만료일</th>
                <th scope="col">현재 수량</th>
                <th scope="col">사용 여부</th>
                <th scope="col"></th>
                <th scope="col">삭제</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="couponTemplate : ${couponTemplateList}">
                <td id="pointPolicyId" th:text="${couponTemplate.id}"></td>
                <td th:text="${couponTemplate.policyId}"></td>
                <td th:text="${couponTemplate.discountPrice}"></td>
                <td th:text="${couponTemplate.discountRate}"></td>
                <td th:text="${couponTemplate.maxDiscountPrice}"></td>
                <td th:text="${couponTemplate.minOrderPrice}"></td>
                <td th:text="${couponTemplate.name}"></td>
                <td th:text="${couponTemplate.duration}"></td>
                <td th:text="${couponTemplate.expirationDate}"></td>
                <td th:text="${couponTemplate.amount}"></td>
                <td th:text="${couponTemplate.state == true ? '사용중' : '미사용'}"
                    th:class="${couponTemplate.state == true ? 'text-danger' : 'text-primary'}"></td>

                <td>
                    <form th:action="@{'/admin/coupon/template/type/1/templateId/' + ${couponTemplate.id}}"
                          method="post">
                        <input type="hidden" name="_method" value="PUT"/>
                        <div class="form-check form-switch">
                            <input class="form-check-input" name="state" type="checkbox"
                                   th:checked="${couponTemplate.state}"
                                   th:value="true">
                            <button type="submit" class="btn btn-success">사용여부 변경</button>
                        </div>
                    </form>
                </td>



                <td>
                    <form th:action="@{'/admin/coupon/template/1/' + ${couponTemplate.id}}" method="post">
                        <button type="submit" class="btn btn-danger">삭제</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>

        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item" th:classappend="${!(pagination.number > 0)} ? 'disabled'">
                    <a class="page-link"
                       th:href="@{/admin/coupon/template/4(page=${pagination.number - 1})}">Previous</a>
                </li>
                <th:block th:with="start=1, end=${(pagination.totalPages == 0) ? 1 : pagination.totalPages}">
                    <li class="page-item" th:each="page: ${#numbers.sequence(start, end)}">
                        <a class="page-link" th:href="@{/admin/coupon/template/4(page=${page - 1})}"
                           th:text="${page}"></a></li>
                </th:block>
                <li class="page-item"
                    th:classappend="${!(pagination.number < pagination.totalPages - 1)} ? 'disabled'">
                    <a class="page-link"
                       th:href="@{/admin/coupon/template/4(page=${pagination.getNumber() + 1})}">Next</a>
                </li>
            </ul>
        </nav>
    </div>


    </main>

    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">생일 쿠폰 템플릿 등록</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- 폼 및 입력 필드 작성 -->
                    <form th:action="@{/admin/coupon/template/4}" method="post" id="couponPolicyForm">
                        <!-- 필요한 입력 필드들을 작성 -->
                        <div class="form-group">
                            <label>쿠폰 정책</label>
                            <select name="policyId" class="form-select">
                                <option th:each="policy : ${couponPolicyList}" th:value="${policy.id}"
                                        th:text="'최소 주문 금액:' + ${policy.minOrderPrice} + ' 할인 금액: ' + ${policy.discountPrice} + ' 할인률: ' + ${policy.discountRate} + ' 최대 할인 금액: ' + ${policy.maxDiscountPrice}"></option>
                            </select>
                        </div>
                        <br>
                        <input name="value" value="0" style="display: none">
                        <input name="name" value="생일쿠폰" style="display: none">

                        <div class="form-group">
                            <label for="duration">사용 기한</label>
                            <input type="number" class="form-control" id="duration" placeholder="사용 가능 기한을 정수로 입력해주세요"
                                   name="duration">
                            <div class="valid-feedback" id="durationCheck">가능</div>
                            <div class="invalid-feedback" id="durationMinusCheck">0이상의 값을 입력해주세요.</div>
                            <label for="date">날짜를 선택하세요:
                                <input type="date" id="date" name="expirationDate">
                            </label>
                        </div>
                        <br>

                        <div>
                            <label for="duration">사용 여부</label>
                            <div class="form-check form-switch">
                                <label class="form-check-label" for="policy">이 정책으로 사용하실건가요?</label>
                                <input class="form-check-input" name="state" type="checkbox"
                                       id="policy" >
                            </div>
                        </div>

                        <button type="submit" id="formSubmitBook" class="btn btn-primary">등록</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="/js/coupon/admin-birth-coupon.js"></script>
</div>
</html>
